[2019-07-14 22:03] alygin opened #1 "Handle PlusCal transpiler error when there's no PlusCal code"
If PlusCal transpiler is running on a file with no PlusCal code, it returns a single error:

[code]

In this case, the error should be ignored.

It also makes sense to not not run the transpiler on such files at all.

[2019-07-14 22:23] #1 closed, assigned to alygin

[2019-07-14 22:54] alygin opened #3 "Add language for .cfg files"
.cfg files are used for configuring models. It'll be very handy to have their syntax highlighted.

[2019-07-14 23:00] #3 closed, assigned to alygin

[2019-07-15 16:43] alygin opened #5 "Implement command for checking model"
Implement command "Check model" that runs `tla2tool.jar` with a TLA<sup>+</sup> module as a parameter.

The command output must be displayed somehow.

[2019-07-16 16:29] #5 closed, assigned to alygin

[2019-07-17 20:57] alygin opened #7 "Display TLC output in a separate view"
TLC output must be parsed on the fly and displayed in a WebView.

[2019-07-18 18:27] #7 closed, assigned to alygin

[2019-07-18 18:30] alygin opened #9 "Parse SANY messages when check model"
When a model is being checked, there's a block fo SANY output that must be parsed and errors (if any) must be shown.

[2019-07-18 19:37] alygin opened #10 "Parse and display error traces"
Error traces, emitted by TLC, must be parsed and displayed in the Model check result view.

[2019-07-19 17:41] alygin opened #11 "Parse and display PlusCal transpiler warnings"
PlusCal transpiler output parser only captures errors, but the transpiler itself also generates warnings that would be cool to capture too. Those warning messages are one-liners of format `Warning: {text}` with no location information. For instance:

[code]

[2019-07-20 23:17] #10 closed, assigned to alygin

[2019-07-21 07:06] alygin opened #13 "Detect variables changes between states"
When parsing states of the model, it's necessary to detect changes: which variables has been added, changed or deleted since the previous state.

[2019-07-21 09:23] #9 closed, assigned to alygin

[2019-07-23 05:51] alygin opened #15 "Add progress indicator to the status bar"
Now, the only way to see the model checking progress is on the panel that is opened when check process is launched. If the user closes this panel, it's impossible to get it back and see what's going on.

There must be an indicator in the status bar that would show the current checking status and allow to reopen the Model Checking view page.

[2019-07-23 05:55] alygin opened #16 "Handle tla2tools result codes"
If tla2tools exits with a code 1-9 or 255, it means that there's a problem with tooling (probably with Java options). We must handle it properly, warn the user and guide him through the process of fixing the problem.

[2019-07-30 19:02] alygin opened #18 "Display program output"
Display output generated by `Print` and `PrintT` in the check model view.

[2019-08-02 19:43] #15 closed, assigned to alygin

[2019-08-02 19:45] alygin opened #20 "Allow to stop TLC process"
There must be a way to stop the running TLC process.

[2019-08-03 05:55] #20 closed, assigned to alygin

[2019-08-03 10:35] #18 closed, assigned to alygin

[2019-08-03 17:26] alygin opened #23 "Check Java version"
Check Java version when the user changes configuration and when there're problems with running `tla2tools`.

[2019-08-04 09:57] #23 closed, assigned to alygin

[2019-08-04 21:47] #13 closed, assigned to alygin

[2019-08-05 05:39] alygin opened #27 "Check sepc existence and create it if necessary"
When starting TLC on .tla file, we should check existence of the corresponding .cfg file and suggest the user to create it if necessary.

[2019-08-05 21:36] #27 closed, assigned to nobody

[2019-08-06 19:50] #16 closed, assigned to alygin

[2019-08-06 19:52] alygin opened #30 "Save TLC output to a file"
TLC output should be saved to a file and displayed to the user on request.

[2019-08-06 21:26] #30 closed, assigned to alygin

[2019-08-10 09:01] alygin opened #33 "Allow to jump from the TLC visualization panel to spec files"
Coverage statistics, error messages and error trace items provide locations of the corresponding specification elements. Such locations must be presented as links that would allow to jump right to the model or config file.

[2019-08-10 17:02] #33 closed, assigned to alygin

[2019-08-11 06:27] alygin opened #37 "Display results of the last executed model checking, not for the last shown"
1. Start model checking
2. While it's not finished, open some previously generated .out file
3. Close Model checking result view
4. Click on the button in the status bar to reveal the Model checking result view

It'll display either the currently running model checking process (if there was some output during our actions), or the previously opened .out file. It must always be the last checking pro

[2019-08-11 06:31] alygin opened #38 "Don't mix results of the running model checking process with data from .out file"
1. Start model checking process
2. While it's still running, open the visualization of a .out file
3. When the running process produce some output, the .out file view will be overwritten

If the user opened a .out file, the visualization must not be overwritten by the running model checking process.

[2019-08-11 07:22] alygin opened #39 "SANY output parser doesn't capture paring errors with no leading line"
This error is not captured at the moment:

[code]

[2019-08-11 07:31] #39 closed, assigned to alygin

[2019-08-11 20:42] alygin opened #40 "SANY output parser doesn't capture errors with no location"
This error is not captured:

[code]

[2019-08-14 21:46] alygin opened #41 "Variable values in the range format are not parsed correctly"
This value is parsed as a numeric constant `3` now:
[code]

It must be parsed as a value with the string representation `3..9`

[2019-08-14 21:55] #41 closed, assigned to alygin

[2019-08-14 22:02] alygin opened #43 "Function values are not parsed correctly"
The following value is parsed with a warning:

[code]

It must be displayed as `(2 :> 3)` in the error trace.

[2019-08-14 23:16] #43 closed, assigned to alygin

[2019-08-16 17:55] #40 closed, assigned to nobody

[2019-08-17 11:16] alygin opened #47 "TLC output not parsed correctly when there's no new line between messages"
When running TLC on Windows, there're lines that contain both a message end marker and the next message start marker:

[code]

It must be handled correctly.

[2019-08-17 13:00] #47 closed, assigned to alygin

[2019-08-18 07:01] alygin opened #49 "Show full TLC output in the same view column in which the visualization is displayed"
When the user clicks the "Full output" link in the TLC output visualization panel, the corresponding .out file is opened in the `ViewColumn.One`. It would be better to open it in the view column where the visualization panel is placed, letting the user see both the specification and the output.

[2019-08-18 18:22] alygin opened #50 "Unexpected end of message"
The following output causes the `Unexpected end of message` error:

[code]

[2019-08-18 18:58] #50 closed, assigned to alygin

[2019-08-20 15:57] alygin opened #52 "Support custom Java options"
Allow the user to provide custom Java options for the TLA tools.
Be careful with options that change GC, since we manually provide ParallelGC now.

[2019-08-20 15:59] alygin opened #53 "Support custom TLA tools options"
Allow the user to provide custom options for TLA tools.

[2019-08-20 16:06] #49 closed, assigned to nobody

[2019-08-20 19:12] #52 closed, assigned to nobody

[2019-08-21 10:39] alygin opened #56 "Tools don't run if no custom Java options provided"
When there're no custom Java options specified in the extension settings, TLA tools run with wrong Java options, hence causing an error.

[2019-08-21 10:40] #56 closed

[2019-08-24 12:02] alygin opened #57 "Highlight coverage items with no executions"
Coverage table rows with zero executions should be highlighted as they usually indicate spec errors.

[2019-08-24 12:05] alygin opened #58 "Coverage total/distinct numbers are swapped"
In the coverage table, the Total column now displays the distinct count and vise versa.

[2019-08-24 12:21] #58 closed

[2019-08-24 12:23] #57 closed

[2019-08-24 13:34] #37 closed

[2019-08-24 13:34] #38 closed

[2019-08-24 14:55] alygin opened #61 "Merged functions are not parsed correctly"
The following output is not parsed as a function:

[code]

[2019-08-24 15:45] #61 closed

[2019-08-25 07:17] alygin opened #63 "Display TLC warnings"
We now collect TLC warnings from its output but never display them. It would be cool to display them the same way we display errors -- to have the "Warnings" block in the output visualization panel.

[2019-08-25 07:46] #63 closed

[2019-08-25 09:16] alygin opened #65 "Stop button doesn't work"
The button that stops the running TLC process doesn't work after adding security policies.

[2019-08-25 09:21] #65 closed

[2019-08-25 14:26] hwayne opened #67 "This is awesome"
No real issue, just wanted to say how much I appreciate you making this :D

[2019-08-25 14:44] hwayne commented on #67
Not sure how easy this is in VSCode, but one of the things I've configured in my vim extension is coloring in all primed operators. So if you have

[code]

It would also color the `foo'`. Makes it easier to skim raw TLA+ specs! I'd recommend trying it out if you write a lot of those :)

[2019-08-25 17:53] alygin commented on #67
Thank you so much for the feedback, I really appreciate it!
And thanks for the advise on highlighting primed operators. It really makes sense, and should be pretty easy.

[2019-08-28 20:01] alygin opened #68 "Stuttering is not displayed correctly"
When model checking fails because of stuttering, the final element of the error trace (Stuttering) is not displayed.

[2019-08-28 20:21] #68 closed

[2019-08-28 21:19] alygin opened #70 ""Back to state" state is not parsed correctly"
If model checking fails with the "Back to state" state, this state isn't displayed correctly.

[2019-08-28 21:37] #70 closed

[2019-08-31 06:46] alygin commented on #53
These options will be configured via the VS Code extension settings API, which means they'll be applied to all the specs and models in the workspace on the global or per-workspace basis.

As for supporting per-scpec and per-model custom options, there will be another task.

[2019-08-31 15:24] #53 closed

[2019-08-31 17:19] wordhardqi opened #74 "Better to have code formatting"

[2019-08-31 19:11] alygin commented on #74
Actually, there was code formatting a couple of versions ago, but I removed it because it didn't work good enough. I'll surely get back to it.

[2019-09-01 16:12] alygin commented on #74
Just update to v0.5.0, and don't forget to switch on the "Text Editor / Formatting / Format On Type" setting.

[2019-09-04 15:44] alygin opened #78 "Display TLC output in an output panel"
The extension now sends TLC output to a .out file. It would be better to send it to an output panel and let the user opt out .out-files creation.

[2019-09-04 19:54] #78 closed

[2019-09-08 08:58] alygin opened #87 "Change default indentation to 2 spaces"
At the moment, the default setting for the code formatter is 4 spaces. I'd like to change it to 2 spaces for TLA+, PlusCal and .cfg-files, but not sure yet.

4 spaces:
* the default setting in the Toolbox
* the default setting in most of the text editors

2 spaces:
* used in pretty all the TLA+ examples / books / tutorials
* feels more suitable to me, since
  * TLA+ code is usually indented in acc

[2019-09-08 09:53] alygin commented on #67
@hwayne , implemented in v0.7.0 along with many other syntax highlighting improvements.

BTW, any thoughts on [proper indentation of TLA+/PlusCal code](https://github.com/alygin/vscode-tlaplus/issues/87)?

[2019-09-09 13:50] suhr opened #88 "How to install"
Installation instruction would be nice to have.

[2019-09-09 18:13] alygin commented on #88
@suhr , please find the [installation guide](https://github.com/alygin/vscode-tlaplus/wiki/How-to-Install) in [Wiki](https://github.com/alygin/vscode-tlaplus/wiki).

[2019-09-09 18:41] suhr commented on #87
Four spaces identation is more visible in the generated pdf. Also, it aligns nicely with `LET`:

[code]

[2019-09-09 18:45] suhr opened #89 "A command to generate PDF"
TLA toolbox can generate PDF from a specification. It would be nice to able to generate PDF in VS Code too.

[2019-09-09 21:24] hwayne commented on #67
I don't think there's enough users to have "proper" indentation, but my _preference_ is two spaces. This is because I tend to use a lot of levels. Taking the sample someone provided in favor of four:

[code]

I might rewrite it as

[code]

[2019-09-10 08:20] alygin commented on #87
One more opinion: https://github.com/alygin/vscode-tlaplus/issues/67#issuecomment-529672996

[2019-09-10 08:46] alygin commented on #89
Yeah, I was thinking about including export-to-PDF in v1.0. Actually, the feature consists of two commands: generate a .tex file (might be of interest per se), and convert this .tex file to a PDF. They both are pretty easy to implement (it looks like the VS Code Tasks API should work for both of them), though the latter requires an external tool (pdflatex by default) that's not present on the user

[2019-09-11 06:20] alygin commented on #87
BTW, here's an instruction on how to change the formatting style: [Formatting Preferences](https://github.com/alygin/vscode-tlaplus/wiki/Formatting-Preferences).

[2019-09-14 10:29] alygin opened #95 "Add code completion in TLA+ code"
The extension now has enough information to complete keywords, embedded constants, operators and some symbols in TLA+ code.

[2019-09-14 10:32] alygin opened #96 "Add code completion in .cfg files"
Implementing keywords completion in .cfg files should be very easy. It's just a small part of `TlaCompletionItemProvider`.

[2019-09-14 14:36] alygin commented on #95
fixes #95

[2019-09-14 14:37] #95 closed

[2019-09-14 15:24] #96 closed

[2019-09-14 21:32] alygin commented on #89
Implemented in 339eb2f7aa855ab6735d4ec432e58eeed749f434 and #98

[2019-09-15 14:10] alygin commented on #87
It looks like having 4 spaces by default + documentation on how to change preferences is safe choice.

[2019-09-15 14:10] #87 closed

[2019-09-15 14:12] alygin commented on #89
[v1.0.0](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.0.0) with this feature has been published 🚀

[2019-09-15 14:12] #89 closed

[2019-09-15 14:21] alygin opened #99 "Add code blocks formatting"
The extension now supports on-type formatting, i.e. automatic code indentation while the user is typing.

It would be great to also support formatting of the selected code blocks (including the whole document), though there's a great deal of questions about the proper way of TLA<sup>+</sup> code formatting that should be answered before the implementation.

[2019-09-15 14:22] alygin commented on #74
The on-type formatting feature was implemented, so I'm closing this issue, though I've also opened #99 about the code blocks formatting.

[2019-09-15 14:22] #74 closed

[2019-09-15 14:23] #67 closed

[2019-09-16 19:57] alygin opened #100 "Support constant expression evaluation"
Being able to quickly evaluate constant expressions is very useful, especially when learning TLA<sup>+</sup>.

The Toolbox provides such functionality via the "No Behavior Spec" field. In VS Code I see two options:

- Use a prompt dialog to allow the user to enter a constant expression.
- Treat the currently selected chunk of code as an expression and allow the user to evaluate it.

The expression

[2019-09-21 17:48] #100 closed

[2019-09-22 05:22] alygin opened #103 ""Not properly indented" SANY error is not parsed correctly"
The error from the following SANY output is not parsed correctly:

[code]

[2019-09-26 00:50] dricketts opened #104 "PlusCal syntax highlighting breaks if --algorithm is not on line of open comment"
This is extremely minor, but maybe worth noting in a wiki page. PlusCal syntax highlighting won't work if the algorithm is written as:
[code]
However, it does work if the algorithm is written as:
[code]

[2019-09-26 18:32] alygin commented on #104
You're right, in a couple of cases the extension doesn't capture boundaries of a PlusCal algorithm correctly. There's a quick fix for this particular issue, but unfortunately, it brings other highlighting problems. VS Code has some limitations on grammar parsing, especially when it comes to embedded languages (PlusCal inside TLA+).

So, for the time being, I'll leave the highlighting rules as they

[2019-10-02 17:23] alygin commented on #104
Here it is: [Caveats](https://github.com/alygin/vscode-tlaplus/wiki/Caveats)

[2019-10-04 17:50] alygin opened #105 "Support constant operators detection"
The `TlaDocumentSymbolsProvider` stumbles on operators while parsing constants and doesn't report them as model symbols. As a result, const operator names don't appear in the outline panel and in completion suggestions. Such operators also prevent parsing of the following constants.

A simple case:

[code]

Neither `Foo` nor `Bar` makes it to the model symbols list now.

[2019-10-05 07:50] #103 closed

[2019-10-05 09:46] #11 closed

[2019-10-06 23:49] dricketts commented on #104
Thanks, that looks good to me.

[2019-10-07 09:43] alygin commented on #104
There's an attempt to improve VS Code highlighting capabilities: https://github.com/microsoft/vscode/issues/77133. I hope the result will allow us to fix this issue.

[2019-10-10 02:15] flazz opened #109 "associated generated errors with pluscal errors"
In the toolbox if the generated TLA code has an error its often possible to jump to the line of pluscal that is the source for the generated error. Is it possible to add this?

[2019-10-10 05:37] alygin commented on #109
I believe this feature is more general &mdash; one can jump from TLA+ to the corresponding PlusCal code block even when there were no errors. It would surely be good to have the same functionality in the extension.

The toolbox instantiates a pluscal-to-tla translator directly, so it has access to additional information, including tla-to-pluscal mapping ([code](https://github.com/tlaplus/tlaplus/b

[2019-10-10 07:20] lemmy commented on #109
@alygin I see no reason why we wouldn't accept a PR that makes the pcal mapping universally usable.  Unfortunately, I believe the feature doesn't have good test coverage which will make its refactoring more difficult.

[2019-10-10 07:50] alygin commented on #109
I'll have a look at what can be done there.

[2019-10-10 19:49] flazz commented on #109
thanks for clarifying, it is more general, I mostly use it when there are errors.

[2019-10-19 19:26] alygin opened #111 "Switch to asWebViewUri"
VS Code 1.38 came with a new API for building URI's that are used inside WebViews: https://code.visualstudio.com/api/extension-guides/webview#loading-local-content

At the moment, the extension is compatible with VS Code 1.36. After moving to 1.38 as the lowest supported version, we should switch to the new API.

[2019-10-20 11:34] alygin commented on #104
BTW, it's also better to keep the closing curly bracket on the last comment line:

[code]

The extension starting with version 1.2 handles it better.

[2019-10-21 20:24] lemmy opened #114 "Asks users to activate TLC execution statistics"
The Toolbox nudges users to activate execution statistics to guide TLC development (see screenshot below).  Please add similar functionality to the vscode TLA+ editor.  Technically, a file called esc.txt is dropped into ```~/.tlaplus/``` whose first line is either a random identifier, "RANDOM_IDENTIFIER", or "NO_STATISTICS" (see https://github.com/tlaplus/tlaplus/blob/master/tlatools/src/util/Exec

[2019-10-22 11:31] alygin commented on #114
Sure.

[2019-10-23 16:51] lemmy commented on #114
The "toolbox" field has been modeled as a boolean but maybe should change to indicate the actual IDE.

[2019-11-07 00:02] lemmy opened #115 "Cannot run TLC a second time"
TLC correctly terminated. Have to restart vscode.

[code]

![Peek 2019-11-06 15-58](https://user-images.githubusercontent.com/88777/68348418-ab82b180-00ae-11ea-8b9f-68289695a5ec.gif)

Notice that "TLA+: Check model" is no longer available in the command palette when it's opened the second time.

[2019-11-07 00:26] alygin commented on #115
There's no need to restart VS Code, you just need to switch the focus back to the .tla or .cfg file. The "Check model" command is only available when the active editor is a .tla/.cfg file, so the extension would know what model to check. When the TLC visualization panel is open, VSCode switches focus to it and the check command becomes disabled.

I see two things to be done to not confuse the user

[2019-11-07 00:32] lemmy commented on #115
The fact that "Stop" keeps visible even if TLC has terminated correctly is confusing too.

[2019-11-07 06:58] alygin commented on #115
You're right, this can be improved too.

The reason it works this way is that the rules to enable/disable commands are declarative and rely on [the set of contexts](https://code.visualstudio.com/docs/getstarted/keybindings#_contexts) predefined in the VS Code platform. The TLC running status is not one of such contexts, so making the command availability depend on it is a bit tricky. I believe it

[2019-11-07 07:14] alygin opened #116 "Disable the "stop model checking" command when TLC is not running"
At the moment, the "Stop model checking" doesn't have the "when" rule in the command palette binding, so it's always enabled, even when TLC is not running.

It would be nice to have the command enabled only when the model checking is running, and disable it otherwise. I believe this can be done by means of custom contexts that some extensions use ([example from the Python extension](https://github

[2019-11-07 07:15] alygin commented on #115
I think it deserves a separate issue: #116

[2019-11-07 22:12] lemmy opened #117 "Unique colors for multi- and single-line comments"
The Toolbox colors multi-line (* *) and single-line \* comments differently.  I find this useful because it makes me use the former for actual documentation while the latter is used for spec notes/hints.

[2019-11-08 01:37] lemmy opened #118 "Open existing Spec.out file in "TLA+ model checking" panel"
Please add support to open an existing Spec.out file from a previous TLC run in the "TLA+ model checking" panel.

Background: Toying with VSCode Online where two users collaborate on a single spec. One runs TLC the other one wants to look at the error trace in the the shared Spec.out file.  Collaboration works at the spec level but the  "TLA+ model checking" panel is unfortunately not a first-clas

[2019-11-08 06:36] alygin commented on #118
It's already implemented. You can open any .out file and run the "Visualize TLC output" command. It works if the `-tool` option was used when running in TLC.

I believe, it relates to [this discussion](https://groups.google.com/forum/#!msg/tlaplus/IKeBN2xARCQ/kMomXKkfFAAJ), and the current implementation should do the job.

[2019-11-08 07:08] alygin commented on #117
In VS Code, code highlighting works this way:

1. As an extension author, I define rules that assign scopes to various pieces of code. For instance, the extension now assigns the standard `comment.block` and `comment.line` scopes to block- and line-comments respectively (you can check this by running the "Inspect TM Scopes" and pointing to a comment).
2. There're [many color theme extensions](http

[2019-11-14 00:51] lemmy opened #119 "Add support to evaluate trace expression"
https://github.com/tlaplus/tlaplus/issues/393

[2019-11-15 01:46] dricketts opened #120 "Unexpected auto-indentation for PlusCal c-syntax"
Indentation sometimes is a bit surprising for PlusCal c-syntax. If an algorithm has a procedure, then the plugin properly indents within the procedure, but also seems to continue to indent after the closing bracket of the procedure. For example, in the following algorithm, going to a new line after the closing bracket of F moves the cursor to the next indentation level.
[code]
Glancing at src/form

[2019-11-15 20:32] alygin commented on #120
You're right, the PlusCal indentation doesn't work as expected with the c-syntax. I need to fix that.

[2019-11-15 20:37] alygin commented on #118
I'm closing this one, since the feature is already supported. Feel free to reopen the issue if you meant something else, or file a bug if there're problems with visualising of .out files.

[2019-11-15 20:37] #118 closed

[2019-11-16 15:12] alygin commented on #120
@dricketts, it's fixed and will be delivered as a part of the v1.3.0 release.

BTW, if you put the algorithm closing curly brace and the closing comment parenthesis on the same line (`} *)`), you'll get better TLA+ highlighting. The same problem as in #104.

[2019-11-18 17:32] dricketts commented on #120
Awesome, thanks.

I forgot about putting the closing comment on the same line as the closing curly brace. Thanks for reminding me.

[2019-11-19 11:42] akosyakov opened #121 "uses `webview.cspSource` to support remote scenarious"
Docs: https://code.visualstudio.com/api/extension-guides/webview#content-security-policy
Motivation: https://github.com/eclipse-theia/theia/issues/6578#issuecomment-555388013

[2019-11-20 10:52] akosyakov commented on #121
closing as a dup of https://github.com/alygin/vscode-tlaplus/issues/111

[2019-11-20 10:52] #121 closed

[2019-11-20 11:09] #111 closed

[2019-11-23 01:16] lemmy opened #123 "Make it easier to include Community Modules"
Including the [TLA+ Community Modules](https://github.com/tlaplus/CommunityModules) requires one to change the global extension settings.  This is (i) cumbersome and (ii) generally not a global but a per-spec setting.

[2019-11-23 18:08] lemmy commented on #123
Related, TLC's info statement about module overrides incorrectly shows up as an error.

![Screenshot from 2019-11-23 10-06-54](https://user-images.githubusercontent.com/88777/69483202-1df6cf80-0dd9-11ea-999c-f9ee6d1206d5.png)

[2019-11-24 07:12] alygin opened #124 ""Operator override" is treated as an error"
Extracted from #123

When TLC issues the "Loading ... operator override ..." message, the extension displays it as an error:

![tlc-message-2168](https://user-images.githubusercontent.com/2101250/69491199-c7ee5e80-0ea2-11ea-9e02-9c112ad1cd0f.png)

It should be tread as a simple informative message.

cc @lemmy

[2019-11-24 07:17] alygin commented on #123
@lemmy, you're right, it's not very flexible at the moment. There's a VSCode-way to provide folder specific configuration properties, I'll use it.

As for the wrong message level (error instead of info), I've move it to a separate issue (#124). Thanks for noticing.

[2019-11-24 07:37] alygin commented on #124
Reopen until tested

[2019-11-24 07:49] alygin commented on #124
@lemmy, the fix is available in the [v1.3 pre-release](https://github.com/alygin/vscode-tlaplus/releases).

[2019-11-25 22:54] dricketts opened #127 "Long records in error trace un-viewable"
In the error trace, if an element is a function with a domain of size 1, then it doesn't get further decomposed in the error trace display. This is a problem if that function looks like:
[code]
With many fields, the string representation runs off the right end of the TLC view with "...". There doesn't seem to be a horizontal scroll bar or a way to expand the element vertically.

[2019-11-27 23:23] lemmy commented on #123
If CommunityModules.jar is in the current directory, the following command-line will load it and its Java module overrides automatically (on macOS & Linux):

[code]

[2019-11-30 12:37] LordGordonQ opened #128 "Add support to Graphviz dot output"
TLA+ Toolbox supports the generation of Graphviz's dot files: https://stackoverflow.com/questions/52055716/tla-how-to-visualize-the-state-graph

It would be really useful to have this option enabled in this plugin, so that I can then open dot files in VS Code and visualize the graph (ie with https://marketplace.visualstudio.com/items?itemName=EFanZh.graphviz-preview)

[2019-11-30 13:45] LordGordonQ commented on #128
https://github.com/tlaplus/tlaplus/issues/403

[2019-11-30 16:10] lemmy commented on #128
See tlaplus/tlaplus#403 for TLC's command-line.

![Peek 2019-11-30 08-08](https://user-images.githubusercontent.com/88777/69902997-c6141780-1348-11ea-9861-50662f785310.gif)

[2019-11-30 20:57] LordGordonQ commented on #128
@lemmy Thanks for the workaround.

A nice improvement for this plugin could be to add a specific setting so that the output file is emitted automatically with the name of the model (if I'm checking `model.tla` I would like to have `model.dot`).

[2019-11-30 21:27] alygin commented on #114
@lemmy, the implementation is in the [v1.3 pre-release](https://github.com/alygin/vscode-tlaplus/releases).

As for the TLC `-tool` option, I agree that it would be nice to distinguish various TLA+ IDE's by providing different values. But wouldn't a string value (like "toolbox", "vscode-tlaplus", or some kind of mnemonic, like "TB" or "VSC") be more convenient?

[2019-11-30 21:52] lemmy commented on #114
Would it be difficult for the extension to set a Java system property (e.g. ```-Dtlc2.TLC.tool=vscode```)?

[2019-11-30 22:01] alygin commented on #114
Not difficult at all.
Does TLC already handle this property?

[2019-11-30 22:22] alygin commented on #128
@LordGordonQ, I've added the `specName` and `modelName` variables that you can use in the `TLC: Model Checker Options` setting. They are substituted to the .tla and .cfg file names (without extensions) respectively. For instance, `-dump out ${specName}.out` will be substituted to `-dump out model.out` in your case.

It'll be released in v1.3. The [pre-release](https://github.com/alygin/vscode-tlap

[2019-11-30 22:25] alygin commented on #127
Yeah, I think an additional panel should be implemented that would display the whole value with scrolling. Like in the Toolbox.

[2019-11-30 22:25] lemmy commented on #114
No, but I have to think how to best migrate the current reporting.

[2019-11-30 22:53] lemmy commented on #114
Actually, I like "tlc2.TLC.ide" better.

[2019-12-01 00:58] lemmy commented on #114
Added with https://github.com/tlaplus/tlaplus/commit/fe636624af94a06f943d6d4cd759803b3cea90eb.  I suggest you include the  [TLC nightly build](https://nightly.tlapl.us/dist/) in the final 1.3.0 extension release?

Metabase:
![Screenshot from 2019-11-30 16-08-32](https://user-images.githubusercontent.com/88777/69907544-b964e300-138b-11ea-97e7-4efb48f30c59.png)

[2019-12-01 05:31] alygin commented on #114
Is it stable enough?

[2019-12-01 06:35] lemmy commented on #114
Yes, TLC development is very conservative.

[2019-12-01 07:24] alygin commented on #114
Added to the latest [v1.3 pre-release](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.3.0-alpha.3).

[2019-12-01 16:14] lemmy commented on #114
There is a typo "plublicly" in the settings label: ```Allows you to send the TLC usage statistics to the plublicly available database. You can find more details on what is shared here.```

Do you want me to create an exec-stats.md file in the https://github.com/tlaplus/tlaplus repo that lists the shared information?

[2019-12-01 16:18] lemmy commented on #114
Should the drop-down in the settings show if a user has opted-in or not?? Here it shows "doNotShare" even though I have a ~/.tlaplus/esc.txt file with an identifier.

[2019-12-01 18:58] alygin commented on #114
Thanks, fixed.

Yeah, I think it would be more appropriate to have a page like [this](https://github.com/alygin/vscode-tlaplus/wiki/TLC-Statistics-Sharing) in the tlaplus/tlaplus repo, since it is the source of truth for such information. I'll change the link as soon as such page is available.

Actually, I thought I couldn't update configuration settings programmatically, but it looks like there's

[2019-12-01 19:26] lemmy commented on #114
https://github.com/tlaplus/tlaplus/blob/master/tlatools/src/util/ExecutionStatisticsCollector.md

[2019-12-01 20:36] alygin commented on #114
All fixes are available in the latest [pre-release](https://github.com/alygin/vscode-tlaplus/releases).

[2019-12-04 19:36] scott-fleischman opened #133 "Parse on save option"
It would be useful to have an option so you can parse a `.tla` file on save, like the TLA+ toolbox does.

[2019-12-04 21:51] alygin commented on #133
@scott-fleischman, please, have a look at this wiki page: [Automatic module parsing](https://github.com/alygin/vscode-tlaplus/wiki/Automatic-Module-Parsing). Does it do the job?

[2019-12-04 21:58] scott-fleischman commented on #133
Yes, thanks!

[2019-12-04 21:58] #133 closed

[2019-12-05 23:40] scott-fleischman opened #134 "Add setting for path to jar file."
It would be useful to allow a setting to the `tla2tools.jar` file so one can maintain consistency with other users and a build server version of tla tools.

[2019-12-06 00:10] lemmy commented on #134
@scott-fleischman https://github.com/tlaplus/tlaplus/issues/393#issuecomment-561732695 is a related discussion.  https://github.com/tlaplus/tlaplus/issues/306 discusses TLA+ and continuous integration.

[2019-12-18 09:40] el10savio opened #135 "How to disbable deadlock checking?"
Is there a way to disable deadlock checking in the TLA+ settings, if so what is the format?

[2019-12-18 17:11] lemmy commented on #135
You have to pass "-deadlock" in the extension's settings:

![Screenshot from 2019-12-18 09-10-40](https://user-images.githubusercontent.com/88777/71107639-55596180-2176-11ea-837a-e34d8a758579.png)

Note that this is a global and not a per-model setting.

[2019-12-18 22:33] alygin commented on #134
@lemmy, thanks for adding some context here.
There're several classpath-related features, like changing `tla2tools.jar`, adding community modules and other libraries. I think it could be implemented by some smart handling of the `-cp` option in the already existing Java Options setting.

[2019-12-19 09:33] el10savio commented on #135
Thanks! I'll do that. Probably you could also add to vscode-tlaplus a deadlock checkbox button to the model checker window to switch the deadlock settings.

[2019-12-19 16:37] lemmy commented on #135
The easiest thing to me seems to add another "Check Model" command that extends the existing one with deadlock checking: "Check Model (including deadlocks)".

[2019-12-27 22:31] #135 closed

[2020-01-04 19:06] alygin commented on #127
The extension now allows you to:
- display a variable value (properly formatted) in a new scratch file,
- copy a variable value to clipboard.

The features are accessible in the latest pre-release: https://github.com/alygin/vscode-tlaplus/releases. I'm going to publish it in the nearest future.

[2020-01-04 20:29] alygin commented on #114
@lemmy, I think I'll stick to the stable tla2tools.jar bundled with the extension. Using nightlies will be possible after implementing #134.

[2020-01-05 14:04] alygin commented on #128
@LordGordonQ, v1.3 is released with support of `specName` and `modelName` variables, so I'm closing the issue.

[2020-01-05 14:04] #128 closed

[2020-01-05 14:06] alygin commented on #124
@lemmy, v1.3 is released with the fix, so I'm closing the issue. Please, feel free to reopen it if the problem is not solved.

[2020-01-05 14:06] #124 closed

[2020-01-05 14:08] alygin commented on #127
@dricketts, v1.3 is released with the described features, so I'm closing the issue. I hope it helps you deal with long variable values.

[2020-01-05 14:08] #127 closed

[2020-01-05 14:10] alygin commented on #120
@dricketts, the auto-indentation should work better with C-syntax in just released v1.3, so I'm closing the issue. Please, feel free to reopen it should the problem remain.

[2020-01-05 14:10] #120 closed

[2020-01-05 14:11] alygin commented on #116
Fixed in v1.3.

[2020-01-05 14:11] #116 closed

[2020-01-05 14:14] alygin commented on #114
Just released v1.3 with statistics sharing, so I'm closing the issue. Please, feel free to reopen it if sharing doesn't work as expected.

I'll put the `-Dtlc2.TLC.ide=vscode` option back when tla2tools 2.15 is released.

[2020-01-05 14:14] #114 closed

[2020-01-05 19:11] lemmy commented on #124
The release log mentions the term _overloading_ whereas in TLC jargon the term used is _module override_. I would suggest to keep the terminology aligned.  Also, overloading has usually a different meaning (same operator with different set/type of parameters).

[2020-01-05 19:13] lemmy commented on #114
There is no harm in passing ```-Dtlc2.TLC.ide=vscode``` to older TLC releases because it is ignored.

[2020-01-05 19:47] alygin commented on #124
@lemmy, thanks, I totally agree. Fixed.

[2020-01-05 19:51] alygin commented on #114
Yeah, I noticed that, but still decided to remove the option because some people look at the full TLC command line and they may be confused by this previously unknown option that actually does nothing at the moment.

[2020-01-07 16:19] LordGordonQ commented on #128
Tried with `-dump dot,actionable,colorize ${specName}.dot` and works perfectly.

Thanks

[2020-01-13 01:31] will62794 opened #138 "Cmd + Click for "Go To Definition" not working as expected"
When editing many other languages in VS Code (e.g. Python, C++, etc.), you are able to jump to the definition of a symbol by holding Cmd or Control (⌘ on macOS) and clicking on the symbol. This doesn't seem to work properly in the TLA+ extension. The "Go To Declaration" action does work as expected, and that action (`editor.action.goToDeclaration`) can be bound to a keyboard shortcut, but I have n

[2020-01-13 06:55] alygin commented on #138
The "Go to Declaration" hasn't been implemented yet (it requires implementation of the [DeclarationProvider](https://code.visualstudio.com/api/references/vscode-api#DeclarationProvider) interface). Though, I already made some steps towards it by implementing the symbols provider, so one can jump to a symbol declaration with the "Go to Symbol in File..." command (Cmd + Shift + O on macOS) or from t

[2020-01-13 14:37] will62794 commented on #138
Ok, thanks for letting me know it's on your agenda. "Go To Declaration" for symbols within the same file would be more than adequate, in my opinion, at least for the initial implementation.

[2020-01-13 19:09] lemmy opened #139 "Model Checking Pane empty in VSCode online because of unsafe-inline"
![Peek 2020-01-13 11-08](https://user-images.githubusercontent.com/88777/72284140-1e4f6200-35f5-11ea-86a7-b6efdac7a3e8.gif)

[code]

Something appears to have changed in VSCode online, because version 1.1 and 1.2 - which I remember to work correctly - show the same error.

[2020-01-13 22:34] alygin commented on #139
You're right, the `usafe-inline` is the root cause here. I'll have a look at it.

[2020-01-13 23:48] alygin commented on #139
@lemmy, could you, please, try this build?
[vscode-tlaplus-1.3.2.vsix.zip](https://github.com/alygin/vscode-tlaplus/files/4056581/vscode-tlaplus-1.3.2.vsix.zip)

[2020-01-13 23:58] lemmy commented on #139
Awesome, it work!

[2020-01-14 00:18] alygin commented on #139
v1.3.2 with this fix has been published. Thanks for helping with this one.

[2020-01-14 01:12] #139 closed

[2020-01-14 03:42] lemmy commented on #115
https://twitter.com/DrQz/status/1216886565818863617

[2020-01-14 15:24] alygin commented on #138
Available in the [latest pre-release](https://github.com/alygin/vscode-tlaplus/releases).

[2020-01-14 18:16] lemmy commented on #134
Until this gets properly addressed, what about providing a nightly build of the extension that always includes the last version of https://nightly.tlapl.us

[2020-01-16 18:03] lemmy commented on #123
One more thing to note:  None of the existing modules - e.g. the TLA+ examples - *parse* when they have a TLAPS proof and there is no way for the user to add TLAPS.tla to the library path.

[2020-01-27 04:15] lemmy commented on #123
I feel stupid but I don't remember how I tweaked the settings to load CommunityModules.jar.  When I set ```-cp CommunityModules.jar``` as the extension's Java option, the cmd line ends up as ```java -cp CommunityModules.jar -XX:+UseParallelGC -cp /home/markus/.vscode/extensions/alygin.vscode-tlaplus-1.3.2/tools/tla2tools.jar tlc2.TLC BlockingQueueTrace.tla -tool -modelcheck -coverage 1 -config Blo

[2020-01-27 18:51] alygin commented on #123
The only possible trick I can think of is to use Java 8 and place `CommunitiyModules.jar` in the `lib/ext` subdirectory of your Java Home. Did you do that?

[2020-01-27 19:21] lemmy commented on #123
Would it be possible to add a new setting to add (or replace #134 ) libraries to the classpath?

[2020-01-27 21:45] alygin commented on #123
Sure, it'll be implemented in v1.4.

[2020-01-27 21:47] lemmy commented on #123
Does it already have a release scheduled?

[2020-01-28 04:36] alygin commented on #123
The plan was to release it earlier in January, but unfortunately, I've been a bit overloaded at my work lately. So, it'll probably be next week. This weekend at best.

[2020-01-31 04:42] alygin commented on #117
Recent progress on the VS Code side: https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview

[2020-01-31 23:24] lemmy opened #143 ""-continue" parameter breaks result page (claims success)"
![Peek 2020-01-31 15-20](https://user-images.githubusercontent.com/88777/73581296-8bf4ee00-443d-11ea-921c-8276f1b253b8.gif)

Spec/Model from this commit https://github.com/lemmy/BlockingQueue/commit/774ec57054c2e1a56a6eb5c1e2506548d2158dd7
Requires most recent TLC because of https://github.com/tlaplus/tlaplus/commit/d5b5a7fa9f5ccdb78edbe2b286ca08ea9b42dc73

[2020-02-01 07:13] alygin commented on #143
@lemmy, could you, please, send me your resulting .out-file? I can't reproduce the problem when running in the desktop version of VSCode, but I have no warnings generated, just lots of "Invariant Invariant is violated" errors and corresponding error traces. They are displayed correctly.

I can also see a change marker (on the scrollbar) at your screencast, it looks like you made some modification

[2020-02-01 09:14] alygin commented on #143
I've reproduced it, thanks, no more need for the .out-file.

[2020-02-01 09:35] alygin commented on #123
Available in the latest pre-release. Just provide a custom classpath in the "Java Options" setting, and the extension will merge it with the default one when running TLA commands. Providing a custom tla2tools.jar also works.

[2020-02-01 09:38] alygin commented on #134
The feature is provided in the latest pre-release ([how-to](https://github.com/alygin/vscode-tlaplus/issues/123#issuecomment-581012375)). Will be released soon.

[2020-02-01 10:37] alygin commented on #143
The fix is available in the latest pre-release.

[2020-02-01 15:46] alygin opened #146 "Improve visualisation of multiple error traces"
When using the `-continue` option, TLC may produce multiple error traces. At the moment, the extension displays all the error traces at once, one below another, which affects usability and might lead to performance issues when there're many of them.

It would be more convenient to display only one error trace and switch between them using links next to error messages.

[2020-02-01 15:47] alygin commented on #143
For further improvement: #146

[2020-02-01 16:53] lemmy commented on #146
We might want to improve TLC's output markers with multiple traces because TLC currently makes it difficult to parse them.

[2020-02-01 16:54] lemmy commented on #123
How does the "merge" work?

[2020-02-02 10:06] alygin commented on #123
I've described this option in wiki in more details: [Java Options](https://github.com/alygin/vscode-tlaplus/wiki/Java-Options)

[2020-02-02 10:13] alygin commented on #146
Actually, it looks pretty parseable to me. The current parser already can handle such cases properly, I only need to slightly change the data structure I use for storing errors.

[2020-02-02 13:14] lemmy commented on #123
I suggest to prepend instead of append additional dependencies to tla2tools.jar in the path.  That way, a user can replace individual classes in tla2tools without replacing the complete jar. Use-case: provide Java overrides for the built-in standard modules such as Naturals, ...

[2020-02-02 15:22] alygin commented on #123
I think adding the default path to the end is the way to go.

[2020-02-02 15:32] alygin commented on #146
Available in the v1.4 beta.

[2020-02-02 15:32] alygin commented on #123
Available in the latest pre-release.

[2020-02-03 07:06] #146 closed

[2020-02-03 07:08] alygin commented on #134
@scott-fleischman, the feature is released in v1.4. Here's the description of how it works: https://github.com/alygin/vscode-tlaplus/wiki/Java-Options#class-path

[2020-02-03 07:08] #134 closed

[2020-02-03 07:09] alygin commented on #123
Released in v1.4

[2020-02-03 07:09] #123 closed

[2020-02-03 07:09] alygin commented on #138
Released in v1.4.

[2020-02-03 07:09] #138 closed

[2020-02-03 07:09] alygin commented on #143
Released in v1.4.

[2020-02-03 07:09] #143 closed

[2020-02-09 19:12] will62794 commented on #119
@lemmy Is the support for this in TLC complete?

[2020-02-09 21:15] lemmy commented on #119
http://tla.msr-inria.inria.fr/kuppe/vscode/ hosts builds of vscode-tlaplus with the most recent nightly build of TLC.  If one adds ```-generateSpecTE``` as a TLC command-line parameter in vscode-tlaplus, TLC will create ```SpecTE.tla``` after model checking that has boilerplate (at the bottom of ```SpecTE.tla```) to define trace expressions. One then has TLC check ```SpecTE.tla``` to evaluate the

[2020-02-12 20:38] alygin commented on #115
@lemmy, a couple of enhancements is available in the pre-release. One can now easily repeat the last TLC run with a special command or a button on the check visualization panel.
Running TLC from the Explorer context menu is now also supported.

[2020-02-12 21:30] lemmy commented on #115
Nice!

I suggest to rename the context menu to "Check Model with TLC" or "Check TLA+ model" to prevent clashes with other extensions.  It is also not obvious if "Repeat" checks a snapshot of the old model (ignoring any modifications after model checking) or if it picks up modifications.

[2020-02-13 01:07] lemmy commented on #115
It would also be useful to know which model/config I'm going to repeat (assuming there is more than one).

[2020-02-14 05:30] alygin commented on #115
I agree. Will back to it soon.

[2020-02-14 19:02] alygin commented on #115
Several fixes and improvements are available in the new pre-release.

[2020-02-15 14:25] will62794 commented on #119
@lemmy What is the intended usage of the command line trace explorer functionality? There seem to be a few different ways to invoke it i.e.

[code]

or
[code]

For usage in VS Code extension I would imagine that we would be running the trace explorer after we have already generated TLC output from a model checking run that produced an error trace. So, it seems the first usage would be the one we w

[2020-02-15 18:26] lemmy commented on #119
https://www.youtube.com/watch?v=pTN3nHvSm84

/cc @quaeler

[2020-03-26 22:39] ibalajiarun commented on #123
@lemmy @alygin has this particular problem been addressed? or is it expected that the user use the Options setting?

[2020-03-29 07:17] andylokandy opened #153 "Add support to TLAPS"
Is it possible to have `vscode-tlaplus` run tlapm to check the proofs and even to decompose the proofs?

[2020-03-29 17:13] lemmy commented on #153
Here is a high-level description of what is needed:

Must
---
- Extension settings to set tlapm path
- Invoke tlapm from vscode extension
- Parse tlapm output and annotate editor accordingly

Should
----
- Pipe tlapm to a console
- Dialog to configure tlapm flags per invocation
- Editor coloring similar to Toolbox
- Refactor and extract decompose proof command out of Toolbox into standalone librar

[2020-03-30 07:25] andylokandy opened #154 "Add document for configuration of TLC worker and heap size"
I found it quite unclear how to run TLC by multicore. Here is the solution I figured out for others that might need:

Set
- `Tlaplus › Java: Options`: `-Xmx20G`
- `Tlaplus › Tlc › Model Checker: Options`: `-workers 8`

[2020-04-07 08:32] tmasternak commented on #154
I had a similar problem when trying to disable deadlock detection. I found [TLC Options](https://lamport.azurewebsites.net/tla/tlc-options.html?back-link=tools.html) page with model checker command-line options when running from tlctools and figured out that they can be set in `settings.json` eg.:

[code]

[2020-04-15 07:21] alygin commented on #154
@andylokandy, @tmasternak, there's a [Wiki section](https://github.com/alygin/vscode-tlaplus/wiki) of the project with description of all the [provided settings](https://github.com/alygin/vscode-tlaplus/wiki/Settings), including a detailed description of how to set [Java options](https://github.com/alygin/vscode-tlaplus/wiki/Java-Options).

But you're right, there should be a separate how-to secti

[2020-04-15 10:28] tmasternak commented on #154
@alygin thank you for the response. Here is more context for my scenario. I found documentation on how to change the setting in the TLA+ Toolbox UI and was trying to figure out what does this translate in terms of settings.

If I could help in any way just let me know.

[2020-04-30 20:24] alygin commented on #115
Since v1.5 there's a command to run the last TLC check again, a link on the visualization panel to do the same, and a field on the panel that displays the spec and model file names.

[2020-04-30 20:24] #115 closed

[2020-05-25 22:29] lorin opened #155 "Document how to set/override constants"
I'm not sure how to set or override constant values.

I've figured out how to set model values in the .cfg file, for example:

[code]

However, if I want to set a constant value (e.g., set the constant `Vmax` to `3`), or override the value of `Nat` to `0..(Vmax+1)`, I'm not sure how to do that.

The TLA+ Toolbox creates two files: mc.cfg and mc.tla, and puts something like this in mc.cfg:

[code]

[2020-05-25 22:33] lemmy commented on #155
@lorin AFAIK the [prototype of a model editor](https://github.com/alygin/vscode-tlaplus/pull/152) is the only way to automatically generate the MC.tla/MC.cfg combi.

[2020-05-30 04:03] lemmy commented on #114
The link to the file explaining the content of the stats has changed to: https://github.com/tlaplus/tlaplus/blob/master/tlatools/org.lamport.tlatools/src/util/ExecutionStatisticsCollector.md

[2020-06-08 18:35] lemmy opened #156 "TLC options ignored by "Evaluate selected expression""
Let `A` be a module that EXTENDS module `B` that happens to be in a library `L`.  Library `L` is added to TLC's classpath in `Tlaplus > Java: Options`.  Ordinary model-checking works fine.  However, selecting and evaluating a (constant) expressions fails with:

[code]

[2020-06-08 18:44] lemmy opened #157 "Bogus "Unsupported Java Version: 11" when checking a model"
![Capture](https://user-images.githubusercontent.com/88777/84068153-647ad880-a97d-11ea-80b5-559b1e32b5e7.PNG)

[2020-06-08 20:58] alygin commented on #157
@lemmy, could you, please, provide the output of `java -version` on your computer? The `java` must be the one configured in the extension. Thanks.

[2020-06-08 21:14] lemmy commented on #157
I see what's going on: The extension was configured to use a Java installation installed into Ubuntu running in WSL2 (`/usr/lib/jvm/...`).  However, VSCode was - no longer - running in Remote Workspace mode.  Once I switched to the Java installation installed for Windows, the warning disappeared.

I suggest to include the full qualified Java path in the warning dialog.

[2020-06-09 18:28] alygin commented on #157
I think I'll add a button that shows the full path and the command output in such cases, but this message still bothers me. If java was not available at the configured path, I would expect a different message. Here's what the extension shows when it happens:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/2101250/84185414-a4ce7980-aa97-11ea-9ce6-e7bd17d15f67.png">

The

[2020-06-09 19:11] lemmy commented on #157
[code]
`c:\Program Files\Java\jdk-11\release`
[code]

[2020-06-09 19:16] alygin commented on #157
Thank! So, it really only reports "11" as its version. That explains the message. I'll fix the incorrect parsing too.

[2020-06-09 21:32] alygin commented on #157
@lemmy, here's a build with both fixes: [v1.5.1-alpha.1](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.1-alpha.1)

[2020-06-13 16:36] alygin commented on #156
@lemmy, could you, please, reproduce the error again and check the TLC output channel to see the full command line. Are there any problems with it? Could it be that we have the same case here as in #157 -- switching between Win and WSL2?

[2020-06-15 16:15] lemmy commented on #156
This appears to be a `classpath` issue. With Java: Options set to `-classpath CommunityModules.jar`, evaluation fails whereas it succeeds with a full qualified path `-classpath /home/markus/blockingqueue/CommunityModules.jar`.

Fails:
[code]

Works:
[code]

Model-checking with a relative path:
[code]

By the way, you could filter the `coverage` parameter to improve performance of constant expressi

[2020-06-15 22:06] alygin commented on #156
Thank you! The cause of the problem is clear now. Expression evaluation is executed in a temporary directory, not in the original one. That's why a relative path has no effect there. I'll fix that.

[2020-06-17 17:46] lemmy opened #159 "Better separate models and specs"
We want specs to describe systems.   Verification with model-checkers such as TLC is import, but ultimately secondary concern.  We do not want users to write specs that are amenable to model-checking.
The primary purpose of the Toolbox's model editor is to make it convenient to check specs without amending them for model-checking.  Until (if ever) vscode-tlaplus has [first-class support for TLC mo

[2020-06-18 16:09] lemmy opened #160 "Publish to marketplace Open VSX"
A user cannot install vscode-tlaplus into [Gitpod](https://www.gitpod.io/) from the main marketplace due to incompatibilities.  Thus, please also publish vscode-tlaplus to [Open VSX](https://open-vsx.org/).

(background: https://www.gitpod.io/blog/open-vsx-in-gitpod/)

[2020-06-23 19:29] dricketts commented on #159
For whatever it's worth, I suprisingly haven't found this to be an issue for the kinds of specs I've written. I prefer having a single cfg file that I edit directly, rather than the indirection of either manually editing MCFoo.tla and MCFoo.cfg or clicking through a model editor UI.

On another thread, you wrote that users shouldn't have to write something like `x \in 1..3` to make the model finit

[2020-06-23 20:29] lemmy commented on #159
@dricketts "if ever" above is supposed to indicate that this issue isn't about adding a clone of the Toolbox's model editor to vscode-tlaplus.  I, for one, am frequently annoyed with the fact that the Toolbox's model editor doesn't have first-class keyboard support.  From what I know, forms are also not a first-class UI paradigm of VSCode.  That said, the Toolbox succeeds in encouraging users to u

[2020-06-23 20:49] dricketts commented on #159
I wonder whether the pre-toolbox convention of MCFoo.tla and MCFoo.cfg would actually discourage novices from hardwiring constants.

To be clear, I wholeheartedly agree with the goal. I've seen many beginners hardwire things that should conceptually be constants/overrides. But I worry that generating the extra MC* files would not prevent novices from doing this and would annoy more experienced use

[2020-06-23 21:07] lemmy commented on #159
I don't think we need to be overly concerned about experienced vscode-tlaplus users.  They will simply ignore the functionality to generate anything and do it manually/customize (expert customization is one area where the Toolbox is particularly weak).

[2020-06-23 21:15] lemmy commented on #159
@dricketts How do you organize/handle TLC runtime settings (memory, cores, ...) with vscode-tlaplus?  From my experience, storing them as VSCode settings is not ideal.

[2020-06-23 22:45] dricketts commented on #159
@lemmy That's a good point - experienced users could just disable a feature like auto-generation of MC*. I'm still skeptical that it will discourage novices from hardcoding things, but I have no evidence to support that skepticism nor a better idea, so it's probably best to ignore my earlier comments.

I don't organize runtime settings in vscode. When I run TLC from vscode, it's always a small mod

[2020-06-23 23:16] lemmy commented on #159
One idea would be to get rid of `MC.cfg` entirely and extend the approach of [apalache with CInit](https://github.com/konnov/apalache/blob/master/docs/manual.md#parameters).  Instead of naming convention, though, there would be a special module with operators to define state constraints, action constraints, ...

[2020-06-24 01:51] dricketts commented on #159
How would model values work with the apalache approach?

[2020-06-24 02:36] lemmy commented on #159
I don't have a complete proposal yet (in this particular case, I could imagine some syntax along the lines of mv == MC!ModelValue).

What do you think about the premise of merging MC.tla and MC.cfg into SuperMC.tla?  I would assume that especially text-first IDEs would benefit from a config that is all TLA+ syntax.

[2020-06-24 18:32] dricketts commented on #159
I very much like that idea. It seems like it would hit the sweet spot for both novices and experienced users.

[2020-06-30 19:05] dricketts commented on #153
Proof folding and the associated hiding commands from the Toolbox would also be nice to have.

[2020-06-30 19:25] lemmy commented on #153
@dricketts It occurred to me that I would find it useful if all facts were visually annotated in the module that appear in the ```BY DEF``` statements of the current proof step.  I hope that it would help make it easier to spot missing facts.  What's your take?

[2020-07-01 01:23] dricketts commented on #153
@lemmy I'm not sure I understand what you mean. Suppose a step has `BY <2>3, Lemma1 DEF Foo`. Would this feature visually annotate step `<2>3`, `Lemma1`, and `Foo`?

[2020-07-01 02:58] lemmy commented on #153
It would annotate the *definition* of `Lemma1` and `Foo` where they appear in the spec.

[2020-07-01 17:16] dricketts commented on #153
I don't think the annotations would help me debug a proof step. What I usually miss is a way to drop into a procedural proof mode (like tactic-based proofs in Coq) in order to understand what's missing. This wouldn't be a replacement for structured TLA+ proofs - procedural proofs are unreadable and difficult to maintain. But I think it would be a faster way to figure out what definitions and facts

[2020-07-08 05:25] lemmy opened #161 "No syntax highlighting for (new) config values CHECK_DEADLOCK and POSTCONDITION"
Title says it all

[2020-07-23 20:43] magniff opened #163 "Invoke `parse_module` command on each save/modify action"
Repeatedly hitting this "parse_module" command is a bit annoying, why not automate?

[2020-07-27 16:41] burkostya opened #164 "Error Trace panel does not show modification of some variables between states"
Here `pc` is marked as modified between states. But inner second `pc` does not have mark `M`.

<img src="https://user-images.githubusercontent.com/1235696/88566625-f4183b80-d03e-11ea-92b0-e96e234dd432.png" width=70% height=70%>

Here the same for `resource_needed` variable

<img src="https://user-images.githubusercontent.com/1235696/88566628-f5496880-d03e-11ea-9e59-f26a6345b5b2.png" width=70% heig

[2020-08-02 23:25] alygin commented on #163
@magniff, there's an article in the project's Wiki that describes how to configure VS Code to parse modules automatically: [Automatic Module Parsing](https://github.com/alygin/vscode-tlaplus/wiki/Automatic-Module-Parsing).

Unfortunately, the VS Code API doesn't allow an extension to set such a setting programmatically or via a contribution point. At least, I didn't find how to do that.

So, if th

[2020-08-03 00:25] alygin commented on #161
@lemmy, support for the new keywords has been added in the v1.5.1-alpha.2 pre-release.

[2020-08-03 05:50] magniff commented on #163
Thanks for your response! Basically I'm asking whether we can make it `true` _by default_, I guess it is set somewhere [around that line](https://github.com/alygin/vscode-tlaplus/blob/master/package.json#L314)?

[2020-08-03 19:07] alygin commented on #163
@magniff, you're right, this is the place where we could define the default value for the setting. Moreover, in some very early versions, it was set to `true`, but then I removed it because most popular extensions didn't do such things, it was a common practice to provide only basic functionality by default and let the user decide what features he or she really needs and switch them on manually.

[2020-08-04 07:00] alygin commented on #160
Published: https://open-vsx.org/extension/alygin/vscode-tlaplus

[2020-08-04 07:00] #160 closed

[2020-08-11 04:50] lemmy opened #166 "PlusCal <> TLA+ divergence detection"
TLC (and the Toolbox) recently implemented functionality to detect PlusCal <> TLA+ divergence, which should be easy to implement for this extension too:

![89359605-13d0e480-d67b-11ea-94be-894c8524da63](https://user-images.githubusercontent.com/88777/89858364-5d29a400-db53-11ea-92a5-788dec71495f.gif)

[2020-08-26 19:20] lemmy opened #167 "Blocker: TLA+ model checking (web) view not populated when model-checking again"
On Windows (and Linux) with VSCode *newer* than `1.46.1` and any version of this extension in `1.5.0..1.5.1-alpha-2`, re-running model-checking results in an empty web view (iff the web view gets closed in between).  The Windows task manager confirms that TLC spawns and terminates correctly.

![2020-08-26_12-12-17](https://user-images.githubusercontent.com/88777/91346575-e8cb4380-e795-11ea-826b-f6

[2020-09-03 21:28] lemmy commented on #167
@alygin Any way we can help with this issue?

[2020-09-12 04:50] lemmy commented on #167
I took a stab at this tonight and I [agree with the VSCode authors](https://code.visualstudio.com/api/extension-guides/webview#should-i-use-a-webview) that webviews are a clutch.  The issue is gone when, instead of [caching the webview](https://github.com/alygin/vscode-tlaplus/blob/00f260baf68b96fd2114a706b8e85f5c3369f42b/src/checkResultView.ts#L7-L9), a new one is always created.  There are a [fe

[2020-09-15 18:54] ahelwer opened #168 "Feature request: expose path to tla2tools.jar in extension options"
It would be nice to be able to easily test nightly builds or others in the VS Code extension.

[2020-09-15 18:56] ahelwer commented on #168
I see you can do this by specifying the classpath in the java options: https://github.com/alygin/vscode-tlaplus/wiki/Java-Options

[2020-09-15 18:56] #168 closed

[2020-09-15 19:19] ahelwer opened #169 "Bug/confusing: tla2tools.jar override cannot handle quotes in path on Windows"
Per [this doc](https://github.com/alygin/vscode-tlaplus/wiki/Java-Options), you can override the tla2tools.jar path by passing a -cp parameter with a path to a different jar in the java options. However, this confusingly does not handle paths in quotes, so the following does not work (the extension falls back to the included tla2tools.jar):

[code]

However, this works:

[code]

[2020-09-15 23:22] alygin commented on #167
@lemmy, you're absolutely right. The problem is caused by resource paths invalidation after web view closing, and dropping the page source cache solves the issue.

Regarding the radical idea, I thought about possible ways to abstain from using a web view when I just started working on the extension, but I failed to come up with a good UI that would be only based on the text editor features. But VS

[2020-09-15 23:36] alygin commented on #167
@lemmy, here's a pre-release with the issue solved: [v1.5.1-beta.1](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.1-beta.1)

[2020-09-15 23:54] alygin commented on #169
@ahelwer, [v1.5.1](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.1) (officially released) should fix it.
Thanks for the report!

[2020-09-16 04:38] alygin commented on #167
BTW, WebView is finding its way to other parts of VS Code: [46585](https://github.com/microsoft/vscode/issues/46585). I hope it'll become more robust as it becomes more widely used.

[2020-09-16 05:56] alygin commented on #157
Fixed in v1.5.1

[2020-09-16 05:56] #157 closed

[2020-09-16 05:56] alygin commented on #161
Fixed in v1.5.1

[2020-09-16 05:56] #161 closed

[2020-09-16 05:59] alygin commented on #167
Fixed in v1.5.1. Please, reopen the issue if the problem still remains in your environment.

[2020-09-16 05:59] #167 closed

[2020-09-16 06:00] alygin commented on #169
Fixed in v1.5.1. Feel free to reopen the issue if the problem still remains.

[2020-09-16 06:00] #169 closed

[2020-09-16 18:08] ahelwer opened #170 "Bug: tests fail on Windows because of CRLF line endings"
Currently on Windows all the "Config On Type Formatting Test Suite" tests and the "TLA On Type Formatting Test Suite" tests all fail with errors of this type:

[code]

This is due to Windows adding the CR (`\r`) character to line breaks in addition to the LF (`\n`) character.

[2020-09-16 18:12] ahelwer commented on #169
@alygin I see that in the latest commit (1b9a2e59fcdf756b8c711b9815f423be4ab8056d) this test is now failing; related?

[code]

The test expects a colon (`:`) after `CommunityModules.jar` but the code now produces a semicolon (`;`).

[2020-09-16 19:45] alygin commented on #169
@ahelwer, it looks like the problem was there long before the latest commits. And yes, it's because the expected value has a hardcoded path delimiter. This should fix it: https://github.com/alygin/vscode-tlaplus/commit/64edbef6869d2ee1f1d9e2e251ed80d6bef7d0c7

[2020-09-16 20:00] alygin commented on #170
Yeah, I've added Windows to the build matrix, and it fails: [1125122153](https://github.com/alygin/vscode-tlaplus/runs/1125122153)

[2020-09-16 20:42] #170 closed

[2020-09-16 20:46] alygin commented on #170
Windows tests are green again: [1125318149](https://github.com/alygin/vscode-tlaplus/runs/1125318149)

[2020-10-06 17:43] sheeraSearch82 commented on #128
How to visualize the .dot files after it is generated using -dump dot,actionable,colorize ${specName}.dot?

[2020-10-07 00:50] lemmy opened #172 "How to disable coverage?"
A user cannot disable TLC's coverage collection, even though collecting coverage data has significant overhead for large-scale model-checking.

https://github.com/alygin/vscode-tlaplus/blob/50bad5f5b0405570435f3c4b107ad2da79fe3a0d/src/tla2tools.ts#L181

My suggestion would be to *not* set `-coverage` at all.

[2020-10-07 07:19] alygin commented on #128
@sheeraSearch82, you need to install one of the Graphviz-viewer extensions. I believe, these two are the most popular:

- [Graphviz Interactive Preview](https://marketplace.visualstudio.com/items?itemName=tintinweb.graphviz-interactive-preview)
- [Graphviz Preview](https://marketplace.visualstudio.com/items?itemName=EFanZh.graphviz-preview)

[2020-10-07 07:52] sheeraSearch82 commented on #128
Thanks @alygin . I installed and it worked fine. Thanks for the VScode support for TLA+. I wanted to know, will there be TLAPS also enabled as part of TLA+ in VSCode? If any such plans, is there a probable date of release?

[2020-10-07 10:03] alygin commented on #128
@sheeraSearch82 , there's issue #153 for TLAPS support. I have no capacity to work on it at the moment, yet I'm planning to get back to it in the future. No commits about particular dates, sorry :)

[2020-10-07 17:04] lemmy commented on #172
Yes:

![Screenshot from 2020-10-07 10-03-50](https://user-images.githubusercontent.com/88777/95363595-87ae8980-0884-11eb-8a5f-3a49744be359.png)

[2020-10-20 23:55] lemmy opened #173 "Running keeps showing "Computing initial states""
With 1.5.1

![Screenshot from 2020-10-20 16-54-33](https://user-images.githubusercontent.com/88777/96656625-0da2e980-12f5-11eb-9d5e-23d69478d749.png)

After a while, the label "Running" keeps showing "Checkpointing".

[2020-10-22 15:22] alygin commented on #173
@lemmy , could you, please, provide the resulting .out file?

[2020-10-22 16:15] lemmy commented on #173
Different run but same behavior:

[MC.zip](https://github.com/alygin/vscode-tlaplus/files/5424078/MC.zip)

[2020-10-29 18:06] RhinocerosBomb opened #174 "Cardinality of largest enumerable set"
Is it possible to enable TLC options like in toolbox? Specifically I want to be able to set the Cardinality of largest enumerable set.

[2020-10-30 12:47] alygin commented on #174
Sure. You can provide any [TLC option](https://lamport.azurewebsites.net/tla/tlc-options.html) using the `TLC Model Checker : Options` setting on the settings panel ([more details](https://github.com/alygin/vscode-tlaplus/wiki/Settings)).

To do the same thing Toolbox does when you set "Cardinality of larges enumerable set", you need the `maxSetSize` option. For instance, `-maxSetSize 2000000`.

[2020-10-30 15:03] lemmy commented on #174
Regardless of how it is done with the extension... In ~10 years working with TLA+, I've never had to increase `maxSetSize`.  Without knowing what you're doing, I'd suggest checking if you can minify/simplify your problem.

[2020-11-01 17:35] alygin commented on #173
@lemmy , did it show the "Checkpointing" status during this run? I can't find the message 2195 code, which is the only trigger that switches checking status to "Checkpointing".

If you just open this MC.out in VSCode and run the "Visualize TLC output" on it, does it show the correct result?

[2020-11-02 18:58] lemmy commented on #173
Sorry for the confusion...  IIRC `MC.zip` did *not* run long enough to take a checkpoint.  Below is a screenshot of what the webview looks like:

![Screenshot from 2020-11-02 10-58-12](https://user-images.githubusercontent.com/88777/97907611-61043700-1cfa-11eb-83d2-21c9f5929186.png)

[2020-11-17 01:14] lemmy opened #175 "Run TLC as VSCode terminal"
Some TLC-specific TLA+ operators such as [`PickSuccessor`](https://github.com/tlaplus/CommunityModules/blob/11a0679c484893b98982a47a0d625ae5d70ed0c3/modules/TLCExt.tla#L30-L40) prompt users for (interactive) input (on `stdin`).  This is currently unsupported because the extension just prints TLC's stdout/stderr to the output section of the model-checking results webview (`check-result-view.html`).

[2020-11-21 17:28] arnaudbos opened #176 "Evaluating constant expression yields wrong result for this expression"
Using the "Evaluate expression" or "Evaluate selected expression" I've tried this expression for some reason, and it did yield a wrong representation of the result in the Output window.

[code]

instead of
[code]

I said that only the *representation* is wrong because the domain is correct
[code]

It may be an evaluation error for this specific expression, or some representation error maybe.

The

[2020-11-22 05:37] lemmy commented on #176
Fixed in https://github.com/alygin/vscode-tlaplus/pull/177

[2020-11-24 23:23] lemmy opened #178 ""filse" instead of "files" in package.json?"
https://github.com/alygin/vscode-tlaplus/blob/50bad5f5b0405570435f3c4b107ad2da79fe3a0d/package.json#L48

[2020-11-29 06:45] alygin commented on #178
Thanks! Luckily, the typo doesn't affect how the extension works.

[2020-11-29 06:45] #178 closed

[2020-11-29 07:00] alygin commented on #174
@RhinocerosBomb, I'm closing the issue. I hope the answers helped you with your problem.

[2020-11-29 07:00] #174 closed

[2020-11-29 07:29] alygin commented on #175
When I just started working on vscode-tlaplus there were pretty severe restrictions on how an extension could use a terminal window, so I decided to use output channels instead. But VSCode 1.37 introduced a terminal API ([example](https://github.com/microsoft/vscode-extension-samples/tree/master/extension-terminal-sample)), so I think it should be possible to switch to it.

As for the debug adapte

[2020-11-29 08:01] alygin commented on #176
Fix available in the [1.5.2-alpha.1 prerelease](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.2-alpha.1)

[2020-11-29 20:52] lemmy commented on #175
Re, debug-adapter-protocol.  Prototype implemented with https://github.com/lemmy/vscode-tlaplus/commit/6752f0076274655a706e3229916232ca0ae5423d  From a UX perspective, the launch buttons on the editor alone/independent of the debugger would be a nice addition.

![Peek 2020-11-24 22-29](https://user-images.githubusercontent.com/88777/100553226-832d9e00-3241-11eb-8680-cdc1c3c613ab.gif)

[2020-12-04 21:20] lemmy opened #179 "Warnings truncated on the result web view"
TLC command-line:

[code]

![Screenshot from 2020-12-04 13-19-49](https://user-images.githubusercontent.com/88777/101215886-6aebc380-3633-11eb-9e0b-08c3b70ceb66.png)

[2020-12-04 21:57] lemmy commented on #159
FWIW: I just spent five minutes figuring out why TLC takes forever to check a small-ish spec.  The reason was that the extension settings included TLC's `-dump ...` parameter as "leftover" from checking another spec.

[2020-12-07 21:06] err0r500 opened #180 "tlc with NixOS"
Hello,
If I try to use the extension installed with `vscode-utils.extensionsFromVscodeMarketplace` (in `configuration.nix`), checking the model generates files in the `./states` folder but they get deleted instantly once the check is finished.

Not sure if there are lots of NixOS users here, but do you have an idea what could cause this ?
The rest works fine (sany, tla2tex) ; also, tlc works fine

[2020-12-07 21:08] lemmy commented on #180
What does this have to do with NixOS and why would you want to keep TLC's temporary data?

[2020-12-07 21:19] err0r500 commented on #180
I was about to edit the question, the problem is that no result is displayed (and I thought it came from the deleted files in states).

Here's the NixOS related problem : I've got 2 ways to install vscode extensions : globally or per user (I can't mix these 2 install modes).
The problem I describe happens only if I install the extension globally, everything works fine if I install it as a user.
So

[2020-12-07 21:24] lemmy commented on #180
Sounds to me as if `states` is a red herring -- TLC deletes temp files in `states` after execution.

[2020-12-07 21:51] err0r500 commented on #180
The main difference I know between the 2 install modes is that the extension install dir is read-only with global install.
I didn't see write while quickly browsing the extension code, but maybe I missed something ?

[2020-12-07 21:56] lemmy commented on #180
TLC seems to succeed to create `states` itself, no?

[2020-12-07 22:01] err0r500 commented on #180
yeap, but `states` is in the spec folder, I meant the installation dir of the extension itself (`~/.vscode/extensions/<ext-name>` in most distros)

[2020-12-10 18:57] lemmy opened #181 ""Go to definition" for definitions in module extended"
Let `B` be a module and `E` be an extender (EXTENDS B).  Clicking `Go to definition` on a symbol in `E` that is defined in `B` doesn't work.

![Peek 2020-12-10 10-57](https://user-images.githubusercontent.com/88777/101816920-8133cc80-3ad6-11eb-9579-1db75c66949e.gif)

[2020-12-10 22:57] japgolly opened #182 "Exclude definitions in LET blocks from outline"
Hi! Firstly, I absolutely love this plugin! I find the archaic toolbox IDE that comes with TLA+ unusable in so many ways so thank you so much for making this so that we can have a proper, modern, and configurable editor experience! It makes a huge difference and is deeply appreciated. Thank you. :heart:

On to the actual issue, the outline view is populated with all definitions found in a spec. Th

[2020-12-10 22:59] japgolly commented on #182
Actually after paying a bit more attention, it seems that something funky is going on. Take this action for example:

[code]

is appearing in the outline as

![Screenshot_2020-12-11_09-58-31](https://user-images.githubusercontent.com/202935/101840036-8442c180-3b97-11eb-9463-e68c7a30af06.png)

which is weird because `i` and `msg` are missing. Looks like a bug.

[2020-12-15 17:14] ahelwer opened #183 "SANY crashes are presented to user as parse success"
**Version Info**

VS Code TLA+ Extension Version: 1.5.1
JRE version: AdoptOpenJDK build 15.0.1+9
OS version: Windows 10

**What happened?**

I tried to use the TLA+ VS Code extension to parse specs that caused a NullPointerException in SANY (see https://github.com/tlaplus/tlaplus/issues/553) and the TLA+ VS Code extension presented as though no parse errors occurred in the module.

**What did you

[2020-12-25 07:42] lemmy opened #185 "Parse additional modules in TLA file"
Consider the TLA file below, for which parse errors in modules `EWD840_TE` and `TTraceTraceDef` are not detected (they are reported by the Toolbox).

[code]

[2021-01-03 16:55] lemmy commented on #172
Also, one of the messages codes related to coverage is not handled by the extension: `Unexpected message code: 2778`

[2021-01-04 08:38] alygin commented on #182
@japgolly , thanks for the kind words! I'm glad you find the extension useful.

As for the Outline View issue, I think the better solution would be to move these private symbols one level down, under the corresponding top level symbol. This is a usual approach in other languages, and this is how this view was designed to work. So, it'll look like this:

<img width="248" alt="изображение" src="http

[2021-01-04 09:27] alygin commented on #185
@lemmy, I see the parse error in EWD840_TE:

<img width="396" alt="изображение" src="https://user-images.githubusercontent.com/2101250/103519848-49c30080-4e87-11eb-9fe4-619016739279.png">

Doesn't your instance of the extension show it? If not, could you, please, run the `Parse module` command and provide the contents of the SANY output channel?

As for the TTraceTraceDef module, yes, that's an er

[2021-01-04 09:35] alygin opened #186 "Some message codes are not handled"
There were two changes in the Toolbox that brought new message codes: [e377b76](https://github.com/tlaplus/tlaplus/commit/e377b760220f41bca21b0cf40f493c162d429d74#diff-69efc4ff56d8b0190ab411d5c6350eab659d734b38ae7889aa71a4621382d500) and [7c9e443](https://github.com/tlaplus/tlaplus/commit/7c9e44327242bc4f3eba08780c453fd1264f2b91#diff-69efc4ff56d8b0190ab411d5c6350eab659d734b38ae7889aa71a4621382d500

[2021-01-04 09:36] alygin commented on #172
@lemmy , thanks, I've created an issue for this problem: #186

[2021-01-04 14:00] alygin commented on #185
Hm, acutally, it also finds the error when I parse TTraceTraceDef.tla. But the error is in another file (EWD840_TE.tla), so it doesn't expose itself in the TTraceTraceDef module, but I can see the error and I can jump to it:

<img width="1064" alt="изображение" src="https://user-images.githubusercontent.com/2101250/103542275-c36de500-4ead-11eb-8d9d-aff3d960b2c0.png">

Do you mean this behavior whe

[2021-01-04 16:18] spoenemann opened #189 "Open VSX Listing: Signing the Publisher Agreement"
Thank you for being part of the Open VSX community by adding your extensions to the Open VSX Registry. Please note that the service was recently transferred to the Eclipse Foundation and urgent action on your part is needed so we can continue to list your extensions. To ensure uninterrupted service, please sign the [Eclipse Publisher Agreement](https://www.eclipse.org/legal/documents/eclipse-openv

[2021-01-04 16:49] lemmy commented on #185
@alygin I should have been more explicit in https://github.com/alygin/vscode-tlaplus/issues/185#issue-774666389.  Don't create three separate files--only create one file `EWD840_TTrace_1608881116.tla` with three modules.  It requires a recent TLC nightly.

[2021-01-04 18:48] alygin commented on #189
Done

[2021-01-04 18:48] #189 closed

[2021-01-04 20:55] alygin commented on #186
The fix is available in the [v1.5.2-alpha.2 pre-release](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.2-alpha.2).

[2021-01-04 20:55] alygin commented on #183
The fix is available in the [v1.5.2-alpha.2 pre-release](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.2-alpha.2).

[2021-01-04 20:56] alygin commented on #182
Improvements are available in the [v1.5.2-alpha.2 pre-release](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.2-alpha.2).

[2021-01-05 09:06] alygin commented on #179
Fixed in the [v1.5.2-beta.1 pre-release](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.2-beta.1).

[2021-01-07 09:22] #186 closed

[2021-01-07 09:22] alygin commented on #183
Fix published in v1.5.2

[2021-01-07 09:22] #183 closed

[2021-01-07 09:22] alygin commented on #179
Fix published in v1.5.2

[2021-01-07 09:22] #179 closed

[2021-01-07 09:23] alygin commented on #176
Fix published in v1.5.2

[2021-01-07 09:23] #176 closed

[2021-01-07 09:24] alygin commented on #182
Improvements published in v1.5.2

[2021-01-07 09:24] #182 closed

[2021-01-26 01:45] kubukoz opened #194 "Cannot see anything useful in TLC panel"
Hi! I tried to use the extension and it worked for things like "Parse module", and I'm able to generate PDFs / run the model checker, but my model checking view is basically stuck like this:

![image](https://user-images.githubusercontent.com/894884/105787816-831af780-5f7f-11eb-8e79-d2f35392a380.png)

Even though I can see output in the terminal stating that TLC was able to finish.

Here's a video

[2021-01-26 01:48] lemmy commented on #194
@kubukoz Can you copy&paste the full output here?

[2021-01-26 01:48] kubukoz opened #195 "Java Home setting wants an URI, but it's actually supposed to be a path"
Whether in the settings panel:

![image](https://user-images.githubusercontent.com/894884/105788459-da6d9780-5f80-11eb-9544-ba201370f3cb.png)

or in the file:

![image](https://user-images.githubusercontent.com/894884/105788449-d477b680-5f80-11eb-963c-10dc10bf08fe.png)

the setting wants the path to be an URI, but only works when I provide a filesystem path. Prefixing with `file://` actually cause

[2021-01-26 01:50] kubukoz commented on #194
Yeah!

I'll add the code now that I'm at it (it's the first failing example from https://learntla.com/introduction/example/):

[code]

<details>
<summary>TLC Output</summary>

[code]

</details>

[2021-01-26 01:53] lemmy commented on #194
Thanks, I don't see anything wrong with TLC's output.  That doesn't seem to be the source of the issue.

By the way, GraalVM was considerably slower at checking (large) models compared to Hotspot one or two years ago.

[2021-01-26 01:55] kubukoz commented on #194
I'll try a different JVM :)

[2021-01-26 01:59] kubukoz commented on #194
Tried Zulu openjdk11, same thing. As expected...

[2021-01-26 02:00] kubukoz commented on #194
I'll get a non-nix vscode and see if I can install the extension normally.

[2021-01-26 02:02] kubukoz commented on #194
It works...

[2021-01-26 02:11] kubukoz commented on #194
I guess I'll need to dive into how this works to see why having installed the extension/vscode with nix could've broken it.

Looks like it's just the extension that's the trouble (vscode originating from nix doesn't change anything), so having that installed from the extensions panel is a fair workaround for now. I'll get back here and report if I manage to put it back ;)

Thanks

[2021-01-26 02:11] #194 closed

[2021-01-26 04:01] kubukoz commented on #194
https://github.com/alygin/vscode-tlaplus/pull/196/files fixes this.

[2021-01-26 05:03] kubukoz commented on #180
@err0r500 you might actually be having the same problem I was having - check out #196.

[code]

[2021-01-26 20:25] #195 closed

[2021-01-26 20:38] alygin commented on #195
The fix is available in [v1.5.3-alpha.1](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.3-alpha.1)

[2021-01-26 20:40] alygin commented on #195
@kubukoz, thanks for the report and for the fix!

[2021-01-31 02:16] Alexander-N opened #197 "Direct display of symbols"
Thank you for this great extension, for me it really makes a huge difference when working with TLA+!

One advantage compared to the TLA Toolbox is that it's possible to configure VSCode so that the mathematical symbols are directly displayed, which I find much easier to read. There is [vsc-conceal](https://github.com/Pancaek/vsc-conceal) which can be used with the settings from [this PR](https://g

[2021-01-31 14:44] alygin commented on #185
The fix is available in the [v1.5.3-alpha.2 pre-release](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.3-alpha.2).

[2021-01-31 20:57] alygin commented on #197
@Alexander-N, thanks for bringing up an interesting subject.

VSC-Conceal looks cool and it really works best in conjunction with Fira Code. I agree that it's worth mentioning in the wiki, I'll get back to it soon.

I myself prefer narrow fonts and use Pragmata Pro with ligatures that cover many substitutions mentioned in your vsc-conceal config. Unfortunately, not all unicode symbols that represe

[2021-01-31 22:40] Alexander-N commented on #197
The goal of my settings was to use substitutions to unicode only for the cases which are not covered by FiraCode.

So for example in the linked PR there was
[code]
which I changed so that it matches the ligature for "not equal" by FiraCode:
[code]

[2021-02-02 19:34] #197 closed

[2021-02-06 17:42] alygin commented on #185
The fix is released in [v1.5.3](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.3).

[2021-02-06 17:42] #185 closed

[2021-02-06 17:44] alygin commented on #180
The fix is released in [v1.5.3](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.3).
@err0r500, feel free to reopen the issue if the extension still doesn't work on NixOS.

[2021-02-06 17:44] #180 closed

[2021-02-11 19:34] lemmy opened #200 "@ only treated as binary_operator_definitions in tlaplus-grammar.json"
`@` is not a binary operator in EXCEPT expressions (regex doesn't match causing `@` to be ignored in EXCEPT):

[code]

https://github.com/alygin/vscode-tlaplus/blob/cdb96e0446d8c1314ff318406bfc31fdb93f0495/languages/tlaplus-grammar.json#L173

[2021-02-13 11:44] alygin commented on #200
You're right, there're no special rule in the grammar description to capture `@`s within EXCEPT expressions. But this is a TextMate grammar, it's not intendend to be full and absolutely accurate. One can easily find many edge cases where it doesn't work ideally.

This grammar's aim is to provide *good enough* syntax highlighting, which, I believe, it does.

But it surely can be improved. We can ha

[2021-02-13 18:05] lemmy commented on #200
Context is https://github.com/lemmy/vscode-tlaplus/commit/542ec937d77a6b892cf5739baac4c27522f8973f , which doesn't work for `@` in Except because the grammar doesn't recognize it properly.

[2021-02-13 19:43] alygin commented on #200
Hm, I'm not sure VSCode uses grammar to detect word boundaries, but I've drafted the missing grammar rule, you can check if it helps: https://github.com/alygin/vscode-tlaplus/commit/10ed763ca87b3e4b54aeac5b90f1208953ca3050

[2021-02-15 00:44] lemmy commented on #200
https://github.com/microsoft/vscode/blob/main/src/vs/editor/common/model/wordHelper.ts#L8 is probably what causes `document.getWordRangeAtPosition(position)` to return `undefined` for a position that points at an `@` (and strips off the prime from a primed variable).

[2021-02-15 06:07] alygin commented on #200
Yes, but it's possible to define a custom word pattern for a language: [wordPattern](https://code.visualstudio.com/api/language-extensions/language-configuration-guide#word-pattern).

[2021-02-21 02:23] will62794 commented on #117
On a related note, would it be possible to add functionality for formatting block comments in the same way that the Toolbox allows? e.g.

[code]

[2021-02-21 07:07] alygin commented on #117
If you mean the Toolbox comment-related commands like "Start boxed comment" "Box comment", "Format and box" etc, then yes, it can be implemented via custom commands.

[2021-02-21 14:13] lemmy commented on #117
FWIW: Consider pushing the Toolbox's functionality into tla2tools.jar to make it standalone and usable by the VSCode extension.

[2021-03-17 17:16] JeremyLWright opened #204 "Patch for wiki page spelling"
[code]

[2021-03-17 18:43] JeremyLWright commented on #204
Thank you for the wonderful Extension!

[2021-03-18 04:43] alygin commented on #204
@JeremyLWright, thanks for the patch! Applied.

[2021-03-18 04:43] #204 closed

[2021-03-19 23:05] klinvill opened #205 "Pluscal transpiler errors with a newline before the message are not captured"
I noticed that the parse module command doesn't display any error messages for errors when a symbol is redefined. It looks like this is because errors that appear on a new line after the ` -- ` are not picked up by the pluscal parser in `tryParseUnrecoverableError()`. For example, the spec below results in the following output from the transpiler:
[code]

Example spec:
[code]

Currently the parse

[2021-03-20 19:51] #205 closed

[2021-03-21 06:53] alygin commented on #200
Starting from v1.5.4, both `@`s and `!`s are highligted in one-line EXCEPT expressions.

[2021-03-21 06:53] #200 closed

[2021-03-25 00:18] klinvill commented on #172
I agree that it seems reasonable to enable coverage by default. Ideally, there would be a -coverage argument that could passed to disable coverage (which could then be specified by the user in the extension's settings). However, as alluded to above, it looks like the only way to currently do that is by not passing a -coverage argument at all to TLC. This is because TLC runs coverage collection if

[2021-03-25 03:41] lemmy commented on #172
@klinvill Let's not make TLC more complex. :-)

Generally, TLC's command-line parameters are misplaced in the extension settings.  For example, I repeatedly forget that I added `-simulate` in the settings and then am puzzled about TLC's behavior.  Instead, why don't we show TLC's parameters in the command palette after the user hits 'Check model with TLC'?  What is pre-populated in the palette wou

[2021-03-26 18:24] lemmy commented on #172
FWIW: Evaluating trace expression is a use case where users don't want coverage information.  Likewise, I'm usually not interested in coverage when I debug a spec.

[2021-03-26 19:20] klinvill commented on #172
@lemmy is something like this what you were thinking of? I was originally worried about the friction of introducing an extra keystroke every time you want to check a model, but I'm not minding it as much as I thought I would.

https://user-images.githubusercontent.com/6043161/112682061-cf25d380-8e2c-11eb-8478-f78204069102.mp4

[2021-03-26 19:39] lemmy commented on #172
Terrific, this is exactly what I meant! :-) Where can I pull it to get a feel for it?

[2021-03-26 19:51] klinvill commented on #172
It's still unpolished right now, but I setup a branch here: https://github.com/klinvill/vscode-tlaplus/tree/klinvill/tlc-options-prompt. Definitely let me know what you think.

[2021-03-26 20:48] lemmy commented on #172
https://github.com/lemmy/vscode-tlaplus/commit/9350020b9f9f493465998bca113972f776810f92

[2021-04-16 20:14] alygin commented on #172
Pre-released in [1.5.5-beta.1](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.5.5-beta.1)

[2021-04-29 15:29] giacomociti opened #209 "regex issue in parsing TLC output"
Hello, the output of my model checking has lines like the following

`<Write1 line 20, col 1 to line 20, col 6 of module spec (21 5 22 20)>: 6:27`

which are not parsed by the regex https://github.com/alygin/vscode-tlaplus/blob/031ad983023cea0bc5fba2a1a54f835fed2cfd04/src/parsers/tlc.ts#L467

and they don't show up in the coverage section of the output panel.

I think the values unexpected in the

[2021-04-29 17:39] lemmy commented on #209
FWIW: The Toolbox parses this output in `org.lamport.tla.toolbox.tool.tlc.output.data.ActionInformationItem`.  However, I don't think that vscode-tlaplus has the UX for users to make sense of this info.  In other words, the regex can probably just ignore this piece of info.

[2021-04-30 07:54] giacomociti commented on #209
Ok, I'm not a regex expert but maybe we can add a pattern `(?: \(\d+ \d+ \d+ \d+\))?` and the whole regex would be:

`const regex = /^<(\w+) line (\d+), col (\d+) to line (\d+), col (\d+) of module (\w+)(?: \(\d+ \d+ \d+ \d+\))?>: (\d+):(\d+)/g;`

[2021-05-12 11:08] Alexander-N opened #211 "Action names from other modules don't get displayed in error trace"
When actions are instantiated from other modules for example
[code]
then their names don't seem to get displayed in the error trace. For example this [spec](https://github.com/Alexander-N/tla-specs/blob/30577d183aa1ebebbee5d196a4c946b1685337be/asyncio-lock/step2.tla) with this [TLC output](https://gist.github.com/Alexander-N/a6899ff01d663dfb681aaf373c6637cf) produces the following:

![image](https

[2021-05-12 15:51] lemmy commented on #211
This is what works for the Toolbox trace explorer: https://github.com/tlaplus/tlaplus/blob/6bc82f7746ccdfbdf49cdef24448666d11e5e218/toolbox/org.lamport.tla.toolbox.tool.tlc.ui/src/org/lamport/tla/toolbox/tool/tlc/output/data/TLCState.java#L82-L121

[2021-05-18 03:42] lemmy opened #212 "[Feature] Expose TLC REPL in VSCode terminal"
Recent versions of TLC come with a (simple) REPL.  It would be great if the REPL was integrated into the VSCode terminal.

[code]

[2021-05-21 16:35] klinvill opened #213 "Add support for initial context to evaluate commands"
[Original observation](https://github.com/alygin/vscode-tlaplus/issues/207#issuecomment-845354312) from @lemmy:

[2021-05-21 16:39] klinvill commented on #213
While using the prompt would be nice for cases where you only have a few constants (like above), it might get unwieldy for specs with many constants. This could be partly improved by persisting previous assignments at a project level. Would it be better to supply initial context by reading in constants from a config file?

[2021-05-21 16:50] lemmy commented on #213
We already have a config file (YourSpec.cfg), and I don't think TLA+ values should be persisted as project-level VSCode settings.

[2021-05-21 18:15] klinvill commented on #213
I agree, I think it makes sense to take advantage of a more complete config like the MC approach you mention. In that case, I'd vote for deferring this until after issue 159 is resolved

[2021-05-26 04:11] lemmy opened #215 "Show command "Check model with TLC" even when the model checking panel has focus"
The "Check model with TLC" command is not shown when the model-checking panel has focus.  This makes it necessary to e.g. close the panel if a user wants to add new options (via the new prompt).

![Screenshot from 2021-05-25 21-09-07](https://user-images.githubusercontent.com/88777/119601230-9313de00-bd9d-11eb-932f-08e62e67ab8c.png)

/cc @klinvill

[2021-05-27 04:41] klinvill commented on #215
@lemmy I whipped up a quick additional command ("TLA+: Run last model check with new options") that should work when the model checking pane was focused. Feel free to give it a whirl and let me know if it works well for you.

Ideally we could just also enable the `tlaplus.model.check.run` command (which shows up as "TLA+: Check model with TLC" in the command pane) when the model checking pane is o

[2021-05-27 16:27] lemmy commented on #215
@klinvill Thanks; I will report back on the ergonomics.

[2021-05-28 03:27] lemmy opened #217 "Syntax highlighting active outside of module boundaries"
[code]

![syntax](https://user-images.githubusercontent.com/88777/119925444-545f5e80-bf2a-11eb-84fe-34308f6a768f.png)

[2021-05-28 03:49] lemmy opened #218 "Clicking on a module name on the EXTENDS line should open the module"
If one clicks on a module name on the EXTENDS line in the toolbox, an editor for that module is opened (including standard modules).

[2021-05-29 14:44] alygin commented on #217
This is very similar to #117. [Semantic highlighting](https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide) is stable since VSCode v1.48, so it should be doable.

[2021-05-29 15:03] alygin commented on #215
@klinvill, why don't you like this approach? We already have [a couple of contexts](https://github.com/alygin/vscode-tlaplus/blob/917305bffb75fb82fd77218c1d8c0dead66689fd/src/commands/checkModel.ts#L20-L21). To me, this looks like the right way to implement the feature.

[2021-05-29 15:10] alygin commented on #215
BTW, it looks like we don't need an additional context, we can reuse `tlaplus.tlc.canRunAgain` to enable the command.

[2021-05-29 16:08] alygin commented on #211
@Alexander-N, I've fixed displaying of such error trace items, but TLC doesn't provide the exact action location, it points to the `INSTANCE` clause in the module being checked, to the link in the check result view also leads to that clause, not to the external module.

@lemmy, it looks like the Toolbox does the same. Is it possible to provide the real action location in such error trace items fro

[2021-05-29 16:20] alygin commented on #212
A command that calls [`vscode.window.createTerminal()`](https://code.visualstudio.com/api/references/vscode-api#window.createTerminal) should do the job.

[2021-05-29 19:14] lemmy commented on #211
@alygin Not impossible but nothing I can commit to in the foreseeable future.  The way how TLC specs into (sub-)actions causes confusion in a couple of places (coverage, ...).

[2021-05-29 21:12] alygin commented on #211
Published in [v1.6.0-alpha.1](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.6.0-alpha.1)

[2021-05-31 23:39] klinvill commented on #215
Ah excellent point, I should have realized that when I used `tlaplus.tlc.canRunAgain` as the condition for the new command.

Unfortunately there's a second challenge with re-using `tlaplus.model.check.run` since the `checkModel()` function either expects a file URI to be passed or pulls the URI from the active editor file. If we wanted to reuse this function, we would have to turn the flow into so

[2021-06-01 05:20] alygin commented on #215
I'd pursue the 3rd option with introducing a result type and minor refactoring.

I think adding a new command for this specific case doesn't look justified. A new command would add nothing to the existing one in terms of functionality, so we can just expand the context of "Check model with TLC", and shorten the user path a little bit.

[2021-06-01 12:45] anton-trunov opened #219 "How do I use sets in config file?"
For instance, how do I define something like this?
[code]

[2021-06-01 17:19] lemmy commented on #219
You can't because TLC's config file doesn't support arbitrary expressions.  This is why the Eclipse-based Toolbox generates an `MC.cfg` *and* an `MC.tla` file.  Related #159

[2021-06-01 17:21] lemmy commented on #215
3. seems to be most in line with how the Toolbox handles its `F11` shortcut.

[2021-06-01 19:30] Alexander-N commented on #219
See https://stackoverflow.com/questions/59101827/ for how to manually create these MC files.

[2021-06-03 14:55] lemmy opened #220 "Support inlined TLC configs"
Checking spec  `A.tla`  without  `A.cfg`  opens a dialog saying that one has to create the config file  `A.cfg`.  Instead, @klinvill new dialog should pop up first to let users enter `-config MCA.cfg`, and only afterward fail iff no alternative config is given.

[2021-06-03 21:56] lemmy opened #221 ""Check and debug model with TLC" not enabled for MC.cfg"
The "Check and debug model with TLC" command is not available when the current editor shows a TLC config file.

[2021-06-04 01:36] klinvill commented on #221
Should the "Debug a running model" command also be available then?

This should be a quick change, we only need to add `|| editorLangId == tlaplus_cfg` to the appropriate `when` conditions in `package.json`

[2021-06-04 01:40] klinvill commented on #220
Right now this use case is handled through the `Check model with TLC using non-default config` which will prompt you to enter a config file before it prompts for additional options. Is that command sufficient?

As a side note, it looks like you can change the config for the normal command by putting a `-config` argument in, however the name of that config is properly reflected in the model checkin

[2021-06-04 02:13] lemmy commented on #220
Obviously, it is easy to get lost in the "sea" of TLA+ commands.  Regarding `Check model with TLC using non-default config` specifically, the label doesn't make sense.  I suggest combining most if not all `Check ...` commands into one (or two).  For starters, [`Debug a running model`](https://github.com/alygin/vscode-tlaplus/issues/221#issuecomment-854292239) can probably be removed.  The command

[2021-06-12 11:52] giacomociti commented on #209
a very simple repro of the issue:

    VARIABLE s
    Init == s = ""
    Next == \E x \in {"a", "b"}: s' = x

the .out file contains the unexpected numbers and the coverage for Next is not shown

[2021-06-14 09:45] fritzalder opened #224 "Debug variables tooltip and copy"
Love the extension (and the new debug feature works great so far)! I found two small issues with the debug window:

1.  In the Run and debug window during debugging, the "Copy Value" option on right click does nothing.  As far as I clicked around, no values are ever actually copied to the clipboard.
2. Hovering on the values of a variable only sometimes gives the correct complete value. Looking at

[2021-06-14 16:39] lemmy commented on #224
@fritzalder Thanks for the feedback.  Please check if the issues are addressed in https://github.com/lemmy/vscode-tlaplus/releases/tag/v1.6.0-beta.202106014  If yes, I will open a PR for this repo.

[2021-06-15 09:36] fritzalder commented on #224
I just realized that hovering over the variable name gives you an information about its type (RecordValue, IntValue, TupleValue etc) and hovering over the value gives you the content. So my (1) above was not even a bug, I just did not realize this.

But the (2) is fixed by your new version! Copying now seems to work in all cases for me. Thanks for the quick response.

[2021-06-15 15:22] lemmy commented on #224
IMO this issue (the fix is in `tla2tools.jar`) highlights why the VSCode extension should move away from bundling `tla2tools.jar` (eventually, it will also blow up the git repo), or at least should make it super easy for users to switch between different `tla2tools.jar`.  Additionally, I propose to create a `-nightly` release of the VSCode extension in the VSCode Marketplace.

[2021-06-17 01:38] lemmy opened #225 "Off-by-one error in Back to State parsing"
![Screenshot from 2021-06-16 18-38-01](https://user-images.githubusercontent.com/88777/122317210-ffcc5500-ced1-11eb-9623-9a41ddf32451.png)

Recent version of TLC improved the format of *lasso* counter-example.  What used to be a `Back to state: N` marker for `N` being the ordinal of the state in the trace, TLC now prints `Back to state: <SomeAction ...>`:

[code]

[2021-06-17 23:18] lemmy opened #226 "Turning off/Minimizing "Outline" disables code completion"
![Peek 2021-06-17 16-16](https://user-images.githubusercontent.com/88777/122483475-8a22c080-cf87-11eb-821b-ad4ce2276e9a.gif)

[2021-06-17 23:21] lemmy opened #227 "Workspace settings take precedence over (replace) User settings"
With the following `User` and `Workspace` level settings

User: `-cp /path/to/CommunityModules.jar`
Workspace: `-XX:+UseParallelGC`

The CommunityModules won't be added to Java's classpath, causing the EXTENDS to result in a parser error:

[code]

Took me ~15 minutes to find.

[2021-06-20 08:46] xneg opened #228 "Range operator not working for evaluating constant expression"
Hello!
This is console output when I try to evaluate some expression containing range operator (e.g. `(1..2) \union (2..3)`):
[code]

What I am doing wrong?

[2021-06-20 16:09] lemmy commented on #228
You have to extend the Naturals module in your spec: `EXTENDS Naturals`

[2021-06-20 17:10] xneg commented on #228
Great! Thank you.

[2021-06-20 17:10] #228 closed

[2021-07-06 13:29] xosmig opened #229 "Model checking status page has only one entry in the States column"
Hi!

I tried to model-check a simple specification using the TLA+ extension.
On the model checking status page, the "Coverage" column is periodically updated as expected.
However, the "States" column always contains just one entry, although the model checker has been running for several minutes.
Please see the screenshot below.

![image](https://user-images.githubusercontent.com/16969945/124608248

[2021-07-08 21:44] xosmig commented on #229
This may be related to these weird question marks in the TLC output. I guess it is some encoding-related problem.
I probably should file a bug to TLC.

![image](https://user-images.githubusercontent.com/16969945/124994388-72060480-e04e-11eb-9fb0-881fb35f3bf9.png)

[2021-07-08 21:44] lemmy commented on #229
@xosmig What is your locale?

[2021-07-08 21:56] ahelwer opened #230 "Nested multi-line comments not highlighted correctly"
Here's the code:
[code]
this is highlighted as:
![image](https://user-images.githubusercontent.com/718765/124995467-6ea25700-e015-11eb-87bf-1555e2ef8b44.png)
I am not even sure this is theoretically parse-able with regular expressions lol.

[2021-07-08 23:41] xosmig commented on #229
I have Russian locale.
The question marks are non-breakable spaces (ascii 160).

It seems that, when the system language is set to Russian, windows uses the non-breakable space as the default separator for groups of digits.
However, changing the separator or even disabling digit grouping altogether in windows settings doesn't seem to affect the output of TLC.

[2021-07-08 23:54] xosmig commented on #229
It seems that the reason why VS-code doesn't display these spaces correctly is that the output encoding is Windows 1252, but VS-code tries to interpret it in UTF-8.

[2021-07-09 00:23] xosmig commented on #229
Changing the output encoding of TLC to UTF-8 (adding "-Dfile.encoding=UTF-8" to the jvm parameters) fixes the way output is displayed in VS-code, but doesn't fix the problem with the TLC Status page.

Maybe the problem is not actually caused by locale/encoding issues.

[2021-07-10 09:38] alygin commented on #209
@giacomociti, thanks for the report!

[2021-07-10 09:41] alygin commented on #219
@anton-trunov, I hope the answers helped.

[2021-07-10 09:41] #219 closed

[2021-07-10 09:48] alygin commented on #225
@lemmy, I see no difference whith the current implementation. Here's an example from the test suite: [error-trace-back-to-state.out](https://github.com/alygin/vscode-tlaplus/blob/master/tests/fixtures/parsers/tlc/error-trace-back-to-state.out#L43
). Are you sure this format is new?

[2021-07-10 10:00] alygin commented on #224
@fritzalder, thanks for the feedback. I hope your problem is solved, so I'm closing the issue. But feel free to reopen it if you think it's not resolved yet.

@lemmy, thanks for the fix. And sorry for being slow on coming up with the nightly version of the extension, we'll do that.

[2021-07-10 10:00] #224 closed

[2021-07-10 10:13] alygin opened #231 "Fix module paths parsing"
In the new version of `tla2tools.jar` SANY paths to embedded modules are reported along with the full path within the corresponding jar file path. Parser of the SANY messages must be modified to ignore this additional info because we don't use it at the moment.

[2021-07-10 10:43] #231 closed

[2021-07-10 21:52] lemmy opened #232 "Tabbing a block of TLA+ doesn't preserve indentation of conjunct and disjunct lists"
![Peek 2021-07-10 14-50](https://user-images.githubusercontent.com/88777/125177135-3eca8f00-e18e-11eb-9830-5a75e34c8494.gif)

[code]

vs

[code]

Fortunately in this case, SANY caught it:

[code]

[2021-07-11 07:58] alygin commented on #232
I think this issue is not solvable on the extension level. In this case VSCode *indents each line independently*, and indentation on Tab pressing means "move to the next nearest position that corresponds to the configured tab size for the language (which is 4 by default fot TLA+)". This is why you end up with a broken TLA+ formatting.

Actually, it works the same way in any other language. In Java

[2021-07-11 08:00] alygin commented on #232
I'm putting the issue on hold until there's an API to fix it on the extension level, or it's fixed on the VSCode level.

[2021-07-11 14:04] ahelwer commented on #217
@lemmy the toolbox highlights keywords and comments outside of module boundaries; is this desired behavior?

[2021-07-11 14:24] alygin commented on #229
@lemmy, I think the best way to fix it is to change how TLC formats numbers in its output (to not format them at all). Since the only way to analyze model checking results is to parse TLC output, it would be nice to have this output independent of the user locale to make parsers more reliable. Is it possible?

[2021-07-11 14:45] alygin commented on #226
@lemmy, does it happen in all specs? In all parts of the spec? I can't reproduce this issue.

[2021-07-11 15:24] alygin commented on #221
@klinvill, I think the "Debug a running model" command should not depend on the active file at all. But it should be disabled when there's already a TLC process runing. I mean, its `when` must be `!tlaplus.tlc.isRunning`.

But I don't know why this command provides the `program` parameter, which depends on the active file:

https://github.com/alygin/vscode-tlaplus/blob/3e268b53873a80db550d89f5a6b2

[2021-07-11 16:19] lemmy commented on #232
@alygin Is there a way to prevent tabbing until tabbing works reliably?  I fear that users accidentally change the semantics of their specs.

[2021-07-11 16:23] lemmy commented on #226
Will try to reproduce.

[2021-07-11 16:24] lemmy commented on #221
1) I can't think of a reason why I would need the file. On the contrary, the back-end sends the absolute path of the file to the front-end.
2) If the VSCode debug adapter supports concurrent debugger sessions, we don't have to disable "Debug a running model" if another TLC is already running.

[2021-07-11 16:31] lemmy commented on #229
I suppose we could remove the formatting when TLC runs with the `-tool` flag.  However, it would be inconsistent to still format dates according to the locale.  At any rate, somebody would have to provide a pull request for TLC.

[2021-07-11 16:41] lemmy commented on #217
I don't know if this is intentional, but I like its behavior better than highlighting `don't`, `doesn't`, .... Perhaps, the pretty-printer is the authority?

[2021-07-11 16:43] alygin commented on #221
I see that [`DebugConfiguration`](https://code.visualstudio.com/api/references/vscode-api#DebugConfiguration) doesn't have the `program` parameter, yet you added it in the mentioned snippet. If it's not requred, we can remove it and allow the user to attach to a running TLC process from anywere.

In this case, the restriction is not on the VSCode debuging infrastructure side. VSCode doesn't allow

[2021-07-11 16:53] lemmy commented on #221
+1 for "attach to a running TLC process from anywhere".

When debugging, the web view panel doesn't provide much value. Thus, iff allowing concurrent debugger sessions is desirable functionality, it could probably do without the web view.  On the other hand, a user can also start multiple VSCode instances.

[2021-07-11 16:57] alygin commented on #232
@lemmy, I'm not aware of API that would help us here. There's the `type` command that can be used to analyze key strokes, but it doesn't provide the typing context and has other limitations that prevent it from be useful for such tasks.

[2021-07-11 18:30] alygin commented on #230
@ahelwer, you're right, TextMate grammar is not powerful enough to highlight such things. It's only possible with a full-featured parser.

Maybe your tree-sitter grammar will make it to a TLA+ LSP sometime :) That would make highlighting much more accurate, let alone other cool features.

[2021-07-11 18:35] alygin commented on #221
Ah, sure, we don't display the result view while debugging, so it shouldn't be an obstacle.

[2021-07-11 19:05] alygin commented on #221
It looks like the file path is not necessary when launching a debugger, so it can be used in more contexts.

[2021-07-11 19:19] alygin commented on #229
The fix is available in the [v1.6.0-alpha.2](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.6.0-alpha.2) pre-release.

[2021-07-11 19:20] alygin commented on #221
The fix is available in the [v1.6.0-alpha.2](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.6.0-alpha.2) pre-release.

[2021-07-11 19:21] alygin commented on #224
The fix is available in the [v1.6.0-alpha.2](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.6.0-alpha.2) pre-release.

[2021-07-11 19:22] alygin commented on #209
The fix is available in the [v1.6.0-alpha.2](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.6.0-alpha.2) pre-release.

[2021-07-11 19:33] xosmig commented on #229
Thanks!
This fixes the problem for me.

[2021-07-12 17:06] lemmy commented on #232
Erich Gamma: ["the indentation behaviour is language specific and needs to be provided by a language extension. In this case it is the python extension. Therefore pls report the issue against the Python extension."](https://github.com/microsoft/vscode/issues/80129#issuecomment-668614714)

Related:
https://github.com/microsoft/vscode/issues/10339
https://github.com/microsoft/vscode/issues/5394

[2021-07-12 18:13] alygin commented on #232
@lemmy, unfortunately, none of these links help much. I think, by "the indentation behaviour" he meant that there's [Indentation Rules](https://code.visualstudio.com/api/language-extensions/language-configuration-guide#indentation-rules) that a language configuration can provide. But those rules do not affect how tabbing works. And Python still has the same problem with tabbing.

Other two links d

[2021-07-13 17:01] ahelwer commented on #230
@alygin did you fork https://github.com/agentultra/TLAGrammar (same as what github uses) or write your own textmate grammar for highlighting? I don't know whether the github grammar is really being maintained.

[2021-07-30 00:12] ahelwer commented on #230
@alygin check it out! Progress https://tlaplus-community.github.io/tree-sitter-tlaplus/

[2021-08-12 21:48] johnyf opened #234 "warning upon detection of tab characters"
Space characters are used in TLA+, and tabs avoided. `tlapm` does not parse tabs (https://github.com/tlaplus/tlapm/issues/28). The TLA+ VSCode extension converts input from the tab key to 4 space characters. Changing the editor settings "Detect Indentation" and "Insert Spaces" of VSCode, I observe that the TLA+ VSCode extension continues to insert spaces (as intended). I would like to ask whether

[2021-08-13 19:35] lemmy commented on #159
@dricketts https://github.com/tlaplus/tlaplus/commit/f50d67d2169a821989ac0b4250bb2ed04ad4a841

[2021-08-14 01:43] klinvill commented on #172
We can close this since coverage can be disabled by simply removing the coverage argument from the options prompt introduced in #207. I just re-confirmed that it works in [1.6.0-alpha.2](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.6.0-alpha.2)

[2021-08-18 21:42] lemmy commented on #226
I haven't checked with *all* specifications. However, it is definitely reproducible (iff VSCode launches with a collapsed Outline).

[2021-08-21 13:39] johnyf commented on #232
It appears that when the VSCode editor configuration option "Use Tab Stops" is unticked, then a uniform amount of indentation is inserted across a set of selected lines, when pressing the tab key. This editor option is described in VSCode as:

[2021-08-21 17:08] lemmy commented on #232
Given that `editor.useTabStops` is on by default, our extension should probably raise a warning.

[2021-09-04 15:22] alygin opened #236 "Publish nightly builds"
In order to give users early access to new features and bug fixes, it would be nice to have nightly builds and publish them as a separate "TLA+ Nightly" extension.

[2021-09-04 17:58] lemmy commented on #236
From personal experience, it would be convenient to always include the most recent TLC build--even better, if a TLC build would trigger a nightly build here (like the eclipse toolbox gets build along with TLC).

Also, there are approximately 400 installs of this extension on the openvsx marketplace. Not sure if this justifies nightly builds on that markertplace.  However, openvsx is where gitpod g

[2021-09-04 22:01] alygin commented on #236
But that means we also have to commit new tla2tools.jar to the extension repository every night automatically. Which means we'll always publish extension with the most recent, the least tested version of the TLA+ tools. That doesn't feel right.

I much more like the idea to allow the user to choose the tools channel (stable or nightly) in settings. In this case the extension is always published wi

[2021-09-04 22:37] lemmy commented on #236
Independently of this discussion, I'd suggest removing `tla2tools.jar` from the repository strategically.  The jar file is > 2MB now, and we've wanted to do more frequent TLC releases anyway.  Also, the fast-changing CommunityModules should ideally be bundled with the extension (the Eclipse Toolbox already contains the latest release).

Letting users choose channels sounds like overhead, assuming

[2021-09-09 22:52] lemmy opened #238 "Split parsing from PlusCal translation"
[Automatic module parsing](https://github.com/alygin/vscode-tlaplus/wiki/Automatic-Module-Parsing) is super useful but gets in the way if a user wants to modify the generated TLA+.  In these cases, it would be better to separate parsing and translation into two separate code save actions.  The recently introduced [checksums](https://github.com/tlaplus/tlaplus/issues/558#issue-777083545) and [corre

[2021-09-10 16:39] lemmy commented on #238
According to a (biased) Twitter poll, this has low priority: https://twitter.com/lemmster/status/1436120376984039444

[2021-09-15 04:58] lemmy opened #239 "Support github.dev web editor"
The extension doesn't work in the github.dev web editor: "The 'TLA+' extension is not available in Visual Studio Code for the Web."

There are a small number of extensions that have built-in assumptions or need to run on the desktop. Examples are when an extension accesses files from the VS Code installation on the desktop or when an extension depends on an executable that must run in a desktop en

[2021-09-19 05:05] dustin opened #240 "LaTeX output doesn't specify box shade"
The comment boxes aren't visually different from code in a way that makes it a bit unclear how descriptions and definitions are separate.

I see this in the output from the toolbox:

    \definecolor{boxshade}{gray}{0.85}

Perhaps having that as a configurable option would be handy.

[2021-09-26 03:07] will62794 commented on #153
I was recently working on some TLAPS proofs and it would have been nice to have this feature. Even if it was only able to check proofs and nothing else. I started poking around a bit to see what would be needed to implement a minimum viable solution in the VS Code extension. I suppose @dricketts would have some of the best insights here since it seems he implemented a good portion of the initial T

[2021-09-26 03:21] ahelwer commented on #153
@will62794 yeah the tree-sitter grammar properly parses proofs with levels and so forth. Proof folding/hiding is implemented in Neovim already through the nvim-treesitter plugin. What is this coloring you refer to? Like regular syntax highlighting? Or coloring to mark a proof step as proven or not?

[2021-09-26 03:50] will62794 commented on #153
@ahelwer Yeah, the tree-sitter grammar looks awesome. I tried out the [online demo](https://tlaplus-community.github.io/tree-sitter-tlaplus/) and it seems to parse TLAPS proofs just fine (e.g. a basic [sample proof](https://raw.githubusercontent.com/will62794/logless-reconfig/master/proofs/BasicQuorumsLib.tla)). It seems you already have a [demo](https://github.com/tlaplus-community/tlaplus-tool-d

[2021-09-26 16:45] lemmy commented on #153
IIRC the proof coloring is exclusively implemented in the Toolbox. The same goes for the proof decomposition functionality.  Perhaps more of this functionality should be moved out of the Toolbox and pushed downwards into, e.g., TLAPS.

/cc @johnyf

[2021-10-11 19:59] lemmy opened #242 "Continuous (smoke) testing with TLC simulator upon editor save"
![Demo](https://user-images.githubusercontent.com/88777/136849218-90890b32-2e6b-4357-ae0b-df2e10063a21.gif)

[Hi-res screencast at https://www.youtube.com/watch?v=jcsQzzeVjuI](https://www.youtube.com/watch?v=jcsQzzeVjuI)

-----

# Install/Activate

Prerequisite: Install [vscode-tlaplus nightly build](https://marketplace.visualstudio.com/items?itemName=alygin.vscode-tlaplus-nightly)!

Let `Spec.tla

[2021-10-13 02:31] lemmy commented on #242
Let `Spec.tla` be the spec one is working on.  To activate "smoke testing", one has to create `SmokeSpec.tla` and `SmokeSpec.cfg` with the following content:

[code]

[code]

[2021-10-13 02:41] lemmy commented on #242
[This nonsense](https://sonarcloud.io/project/security_hotspots?id=alygin_vscode-tlaplus&hotspots=AXx3eCGxYl8gH2ijuiCB) is blocking this now.  @alygin  I suggest we turn SonarCloud off.

[2021-10-21 22:29] lemmy commented on #218
@peterzeller Thanks for the update! :-)

1. I suggest extending `SanyStdoutParser`.  LSP might strategically be the preferred (@alygin had reasons not to use LSP), and the TLA+ debugger indeed introduced lsp4j in TLC. However, it does not use anything besides the DebugAdapterProtocol, and creating the infrastructure for a server process is a lot of work and might re-encounter tech dept we ran into

[2021-10-29 18:35] lemmy opened #244 "Forks of this repo receive Github action errors for `release-nightly`."
`.github/workflows/release-nightly.yml` also runs for *forks* of this repository causing the fork owner to receive:

[code]

Related: #236

[2021-10-31 19:35] lemmy commented on #217
Marking as closed thanks to @edaena!

[2021-10-31 19:35] #217 closed

[2021-10-31 19:42] lemmy commented on #212
Addressed by PR https://github.com/alygin/vscode-tlaplus/pull/241 provided by @edaena

[2021-10-31 19:42] #212 closed

[2021-10-31 19:45] lemmy commented on #218
FWIW: https://github.com/alygin/vscode-tlaplus/blob/775dbf770a0a182341b68e5af91e5b34965fae0e/src/commands/checkModel.ts#L240-L241 is another use-case where access to SANY's AST would be useful.

[2021-11-03 17:44] #244 closed

[2021-11-03 19:53] lemmy commented on #225
The interpretation of https://github.com/alygin/vscode-tlaplus/blob/master/tests/fixtures/parsers/tlc/error-trace-back-to-state.out was wrong; the lasso is closed by state `Foo=1` that we reach from state `Foo=2` by action `<Cycle line 42, col 10 to line 48, col 30 of module back_to_state>`.

[2021-11-03 19:53] #225 closed

[2021-11-03 20:30] #220 closed

[2021-11-03 20:45] lemmy commented on #181
Related: https://github.com/alygin/vscode-tlaplus/issues/218

[2021-11-03 20:46] #172 closed

[2021-11-03 21:11] #173 closed

[2021-11-03 21:50] lemmy commented on #155
Related: https://github.com/alygin/vscode-tlaplus/issues/219

[2021-12-12 18:57] lemmy opened #245 "Syntax highlighting broken for single-line LET with multiple definitions"
[code]

<img width="534" alt="Screen Shot 2021-12-12 at 10 57 12 AM" src="https://user-images.githubusercontent.com/88777/145725673-c7adae0b-e457-4781-9b63-65e04f7bc7e7.png">

Note the `to` that is not highlighted.

[2021-12-21 16:27] lemmy commented on #245
@johnyf FYI, since multiple definitions on the same line in a LET/IN recently came up in a different context.

[2021-12-22 18:19] lemmy opened #246 "Add "last modified" footer to specs"
The Toolbox automatically adds a footer to every spec that shows the original author and creation date and all modifications by other authors.

[2022-01-25 14:16] rlipscombe opened #247 "Getting Started page is incorrect"
If I follow the instructions at https://github.com/tlaplus/vscode-tlaplus/wiki/Getting-Started, it results in the following problems in the translated TLA+:

[code]

That's here:

[code]

[2022-01-25 14:17] rlipscombe commented on #247
Changing the `EXTENDS TLC` line to `EXTENDS TLC, Naturals` resolves it. If this is the correct fix, the wiki should probably be updated.

[2022-01-25 14:22] lemmy commented on #247
https://github.com/tlaplus/vscode-tlaplus/wiki/Getting-Started/1398a1052f3232761eb0ee19e5e4059fe1c50a9a

[2022-01-25 14:22] #247 closed

[2022-02-01 18:16] ahelwer opened #248 "Integrate TLA+/PlusCal tree-sitter grammar?"
The TLA+ tree-sitter grammar now supports PlusCal: https://github.com/tlaplus-community/tree-sitter-tlaplus/

You can see how to consume the grammar from TypeScript here: https://github.com/tlaplus-community/tlaplus-tool-dev-examples/tree/main/tree-sitter/typescript

There are a few ways the grammar could help:

- Much more robust syntax highlighting compared to regex-based methods (however would

[2022-02-01 18:17] ahelwer commented on #246
Don't think this is very useful in the era of automated version control systems.

[2022-02-01 18:32] lemmy commented on #246
This feature is for those who have seen SCMs come and go or who have experienced specs being moved around; others can turn it off (like it is possible in the Toolbox).

[2022-02-01 19:11] lemmy commented on #248
@edaena, I believe you're familiar with the relevant parts of the extension.  One question to answer is how this integrates with SANY.  For example, tree-sitter rejecting a spec shouldn't prevent users from launching TLC if SANY is happy, and vice versa.  From experience with TLAPS, we know that two parsers disagree in subtle ways (which is why there is an (incomplete) effort to replace the TLAPS

[2022-02-01 19:26] ahelwer commented on #248
Of note, tree-sitter doesn't really reject specs; it will provide as good of a parse as it can get, and end up looking something like (sample taken from different language):
[code]
There is a flag you can check to see whether there are any error nodes in the parse tree, but unless you go hunting for them you won't know they're there.

[2022-02-01 19:59] lemmy commented on #248
To clarify: Are you're saying that the list of use-cases is exhaustive s.t. tree-sitter should only replace regex-based syntax highlighting and improve code navigation/completion?  For everything else, however, SANY remains authoritative?  This then sounds reasonable, especially, if syntax highlighting and code navigation continue to work in the presence of parse failures.
By the way, does the tre

[2022-02-01 20:16] ahelwer commented on #248
Yes, SANY remains authoritative. Tree-sitter doesn't even have the capability to print error messages or anything, it's purely designed to support language tooling. I don't think my list of use-cases is exhaustive really, there are other possibilities like code folding or code formatting/linting that other people have implemented.

Tree-sitter does not implement *any* semantic analysis or restrict

[2022-02-03 18:38] lemmy commented on #239
A more promising approach would be to use @will62794 https://github.com/will62794/tla-web for the purely browser-based variant of the VSCode extension.

[2022-02-11 18:34] lemmy opened #249 "TLA+ CommunityModules and vscode-tlaplus"
The popularity of the CommunityModules warrants that we bundle (or otherwise) include its jar in the vscode extension.

[2022-02-17 05:32] lemmy commented on #248
[Related: https://github.com/microsoft/vscode-anycode](https://github.com/microsoft/vscode-anycode)

[2022-02-17 12:20] ahelwer commented on #248
Oh hey neat, that must be new! People have been asking for native vs code support for tree-sitter for a while now. Guess this is the compromise.

[2022-02-26 01:42] lemmy commented on #104
A similar problem if opening bracket of define is on the next line:

[code]

See https://github.com/lemmy/azure-cosmos-tla/blob/6e4e505a663ced50a61120219a70c7a2c1ae0f17/general-model/cosmos_client.tla#L84-L85

[2022-03-15 05:10] lemmy opened #250 "Error-trace shows a bag (multiset) like a sequence"
[code]

<img width="549" alt="Screen Shot 2022-03-14 at 10 07 36 PM" src="https://user-images.githubusercontent.com/88777/158310831-f5014060-72f6-49f8-93e6-b09718999395.png">

<img width="385" alt="Screen Shot 2022-03-14 at 10 11 19 PM" src="https://user-images.githubusercontent.com/88777/158310953-62739557-92b3-4a23-b69a-56ba88138c33.png">

----------

[code]

Previous fix: https://github.com/tla

[2022-04-10 02:20] ZacAttack opened #253 "Command line error: input file squares.tla does not exist"
Going through the instructions here: https://github.com/tlaplus/vscode-tlaplus/wiki/Getting-Started

Running:

`TLA+: Parse module` triggers the first line in the squares example code to be highlighted with a red syntax highlight (squiggly line?).  Below terminal panel and hovering over the line shows that it's not able to find the squares.tla file.

I imagine theres a simple way to pass the path

[2022-04-10 02:26] ZacAttack commented on #253
And figured it out.  For some reason vscode didn't have permissions on a folder on the Desktop?  I realized this when trying to navigate there from the terminal in the vscode UI.  Moving it to home directory fixed things.  Sorry to bother!

[2022-04-10 02:26] #253 closed

[2022-04-14 17:22] lemmy commented on #159
An example of a user having problems with writing a correct TLC config file: http://discuss.tlapl.us/msg04859.html

[2022-05-13 21:49] JoshuaRowePhantom commented on #159
I consider myself fairly proficient with TLA+, but not so much with the .cfg files since I'm used to using the Toolbox. I'm trying to make the switch to VSCode, and the mapping between the Toolbox way and the VsCode way is eluding me. I do find that having several Toolbox models helps me make tradeoffs that I can communicate to other engineers by checking them in.

Whether or not support is added

[2022-05-13 23:30] lemmy commented on #159
FWIW: You can reuse the generated `MC.tla` and `MC.cfg` files in VSCode.  If you have two or more Toolbox models `Model_1`, `Model_2`, ..., copy and rename the Toolbox `MC.tla/cfg` files to something like `Model_1.tla` and `Model_1.cfg` in VSCode.

Note that TLC will check the active spec when `TLA: Check model with TLC` is launched from the command emmet.  In other words, to check `Model_1`, make

[2022-05-22 16:38] asfarley opened #254 "Are the details for Java installation comprehensive/current?"
My system: Windows 10, Visual Studio Code, installed latest Java

I am following the instructions for setup, which basically tell the user to install the latest JVM.

However, it appears that Java 8 does not respond to the '--version' flag, and java responds with:
[code]

From a quick Google, it seems that one hyphen (-version) is now the appropriate way for checking the version:
[code]

Additiona

[2022-05-22 17:08] asfarley commented on #254
Ok, I have solved the path issue, it seems that I get the expected behavior (at least so far) after installing Java 18 and putting the following into my path:

`C:\Program Files\Java\jdk-18.0.1.1`

So it seems that Java Home is not expected to directly contain the java executable.

I don't have any immediate questions but this issue may be helpful for anyone running into the same problems.

[2022-05-23 18:35] anton-trunov commented on #245
Looks like this issue has been fixed: the `to` is highlighted.
<img width="613" alt="image" src="https://user-images.githubusercontent.com/2316541/169884510-c233413e-bd94-411d-8556-bfea05a32b3a.png">

[2022-05-23 19:51] lemmy commented on #245
If yes, not exhaustively because the second `GraphNodePos` is still black.

[2022-05-28 14:45] JoshuaRowePhantom opened #255 "Toolbox-like handling of long error trace record differences"
tlaplus#127 describes long error trace records not being easily viewable. I still find this the case: the copy-to-clipboard feature is a bit cumbersome to use.

A feature I found very valuable in the Toolbox was the highlighting of differences between states. This feature has become much more subtle in the VsCode version. I can see that a complete variable has been modified, but for e.g. a functio

[2022-05-28 14:59] JoshuaRowePhantom commented on #255
I also meant to say that the view value feature is a little cumbersome. Opening a new text editor for every value then requires user action to close it, and it tends to hide the work the user is doing. Maybe there's a better workflow I could try, but really the recursive explorer with built-in long value viewing would work out-of-the-box much better for me.

[2022-05-28 15:15] JoshuaRowePhantom opened #256 "Cannot click on magnifying glass icon to view long error trace record"
In some circumstances with long error trace records, I cannot click on the magnifying glass icon to view a long error trace value. The mouse ends up selecting background text. The "copy to clipboard" button works.

[2022-05-28 15:16] JoshuaRowePhantom opened #257 "Keyboard accessibility of the error trace window"
It doesn't appear to be possible to navigate the error trace window using the keyboard to e.g. expand items or copy values. This is an accessibility issue.

[2022-05-28 15:25] JoshuaRowePhantom opened #258 "Model checking pane should show location of semantic analysis failures"
The error trace view says this:

[code]

The output window says this:

[code]

As the eye is drawn to the model checking pane, it would be nice to have a hyperlinked copy of the error location there.

[2022-05-28 15:27] JoshuaRowePhantom opened #259 "Value view window should be automatically word-wrapped"
After clicking the "view value" icon in the error trace view, the resulting value window should be automatically word-wrapped or pretty printed in some way. The reason the user pressed the icon was to view the entire value. Having to word-wrap the resulting window is just an extra step for the user to perform.

[2022-05-28 15:28] JoshuaRowePhantom commented on #259
Also consider setting the resulting window's state to Unmodified if possible; I don't really want to save these windows.

[2022-05-28 15:41] JoshuaRowePhantom opened #260 ""Check Again" scrolls out of view in Error Trace pane"
The "Check Again" link scrolls out of view in the Error Trace pane when navigating to the end. It should stay in view.

I haven't been able to find a keyboard shortcut to recheck the last run model, so this is a productivity issue.  The most common action after running a model and making some edit is to rerun the last-run model. (The .cfg file I'm running is not the one with the same name as the .

[2022-05-28 15:49] JoshuaRowePhantom commented on #256
I think I figured out that this happens if I've clicked inside the error trace view before trying to click the magnifying glass. I have to click outside the error trace view before I can then click the magnifying glass.

[2022-05-28 16:32] lemmy opened #261 "Rewrite error-trace view with VSCode Webview UI toolkit"
https://code.visualstudio.com/blogs/2021/10/11/webview-ui-toolkit

https://github.com/tlaplus/vscode-tlaplus/issues/260
https://github.com/tlaplus/vscode-tlaplus/issues/259
https://github.com/tlaplus/vscode-tlaplus/issues/258
https://github.com/tlaplus/vscode-tlaplus/issues/257
https://github.com/tlaplus/vscode-tlaplus/issues/256
https://github.com/tlaplus/vscode-tlaplus/issues/255
https://github.

[2022-05-28 17:54] JoshuaRowePhantom opened #262 "Latest release is 1.5.4 from over a year ago; there have been lots of changes; Need a new release"
Should a new release be published soon? Or is there a link to how to install the latest version?

I discovered this when attempting to use the ALIAS keyword in a .cfg file. I see the feature was checked in 6 months ago to the repository, but it's not showing up in my code completion.

[2022-05-28 18:56] lemmy commented on #262
You can install the nighty/latest VSCode extension (with a recent snapshot of TLC) from https://marketplace.visualstudio.com/items?itemName=alygin.vscode-tlaplus-nightly.

[2022-05-28 19:16] JoshuaRowePhantom commented on #262
Excellent! Can we put this on the front page?

[2022-05-28 21:55] lemmy commented on #262
It is the fourth button on the top row of `Readme.md` (https://github.com/tlaplus/vscode-tlaplus/commit/932a0f6f63bd66ee7c58456245e24af20085eac5).  Can you open a PR that better highlights the nightly release in the `Readme.md`?

[2022-05-28 22:05] JoshuaRowePhantom commented on #262
I went to go update the Wiki; I think maybe I need to be a contributor to do so?

Anyway, the directions I saw and followed were at https://github.com/tlaplus/vscode-tlaplus/wiki/How-to-Install.

[2022-05-28 22:16] JoshuaRowePhantom commented on #262
https://github.com/tlaplus/vscode-tlaplus/pull/263

[2022-05-28 23:44] lemmy commented on #262
You should have received an invite to join the project.

[2022-06-21 16:47] heidihoward opened #264 "Running status still shows ``Checkpointing`` even after checkpointing has completed"
Checkpointing successfully finished ~20 mins ago (and model checking has resumed) but the running status still shows checkpointing. I am running v1.5.4.

![image](https://user-images.githubusercontent.com/1835251/174852801-c3e270a9-5c24-469e-9267-7d9f4022cd01.png)

[2022-07-17 12:19] 11800222 opened #265 "Try the nightly version for the first time, but get nosuchmethoderror?"
Was ok with the default version,want the debug feature of nightly version.
Just run model check get this err message:

Errors
TLC threw an unexpected exception.

This was probably caused by an error in the spec or model.

See the User Output or TLC Console for clues to what happened.

The exception was a java.lang.NoSuchMethodError

: java.util.ArrayList.toArray(Ljava/util/function/IntFunction;)[L

[2022-07-17 13:19] lemmy commented on #265
You need Java 11 or newer.

On July 17, 2022 5:19:57 AM PDT, 11800222 ***@***.***> wrote:

[2022-07-17 14:23] #265 closed

[2022-07-29 11:09] akkeshavan opened #266 "TLA+ convert to PDF exits with "latex" not found on MAc"
Error running tla2tex.TLA (exit code 1) Exception in thread "main" tla2tex.TLA2TexException: TLATeX unrecoverable error: -- Trying to run the command `latex example.tex' produced the following error Cannot run program "latex": error=2, No such file or directory. at tla2tex.Debug.ReportError(Debug.java:26) at tla2tex.ExecuteCommand.executeCommand(ExecuteCommand.java:34) at tla2tex.LaTeXOutput.RunLa

[2022-07-30 08:53] lemmy commented on #266
Try Settings: tlaplus.pdf.convertCommand

<img width="837" alt="Screen Shot 2022-07-30 at 10 52 59 AM" src="https://user-images.githubusercontent.com/88777/181903083-e7cf8372-cf22-4998-912b-5f44f2989cff.png">

[2022-08-05 04:42] raghavendrahg opened #267 "Updating Visual studio code fails due to to Access denied error"
<img width="306" alt="image" src="https://user-images.githubusercontent.com/625165/183003008-07d8c7c9-e143-4e31-85b9-c91d166dd80d.png">

<img width="289" alt="image" src="https://user-images.githubusercontent.com/625165/183003045-fbc857ac-1b46-4514-9024-31d6626f09f1.png">

There are no visual studio code processes running. This error is seen on Windows 11

[2022-09-01 23:40] arthurgreef opened #268 "How do I disable coverage and cost statistics"
Hi - I get the following message at the end of model checking execution.

"End of statistics (please note that for performance reasons large models
are best checked with coverage and cost statistics disabled)"

Can you tell me hw to disable coverage and cost statistics? I added "-coverage 0" to the tla options but I'm not sure if that is enough.

Thanks.

[2022-09-02 17:36] lemmy commented on #268
The extension's nightly build supports turning coverage off (see #172).

[2022-09-15 06:42] CES-dengzeyuan opened #269 "Create new module command not found"
Hi - When I followed the Getting Started, I couldn't find either "Create new module (TLA+)" or "Create PlusCal block (TLA+)" snippet from the drop-down list.

<img width="623" alt="截屏2022-09-15 14 32 45" src="https://user-images.githubusercontent.com/46039524/190331201-40059438-87a3-4079-964d-54982e06608c.png">

So I wonder how can I get/generate a program demo before I go ahead.

Thanks a lot.

[2022-10-14 16:54] #267 closed

[2022-10-14 19:17] lemmy opened #270 "Re-generate VSCode marketplace token because GitHub Actions are going to break us"
@alygin

[code]

[2022-10-18 13:21] sfre-coop commented on #159
I hadn't realised that the trick to making this work is to run the Model spec. Does that mean that the config for the underlying spec is now ignored? Is there a way to "inherit" from it? Thx

[2022-10-18 15:14] lemmy commented on #159
There is no support to inherit from configs.  Let `S.tla` be the "underlying" spec and `S.cfg` the corresponding config. As a workaround, you can reuse `S.cfg` when checking the model spec `MCS.tla` by running TLC with `tlc -config S.cfg MCS.tla`.  In VSCode, this amounts to selecting "`TLA+: Check model with TLC using non-default config...`" in the command palette.

[2022-10-25 18:39] lemmy commented on #250
https://github.com/tlaplus/vscode-tlaplus/issues/61

[2022-10-26 16:47] lemmy commented on #250
[code]

[2022-10-26 17:25] lemmy commented on #250
I ran out of time!  Any takers to *update/refactor* the now-removed tests in https://github.com/tlaplus/vscode-tlaplus/commit/1d9161c7cbb99a40682f14446aabf71c237cafbf#diff-5ad2ff4a54440bf2b50b351c7d6092744831ab604bc4f3cbbda8757029a50b1b?

[2022-11-12 21:43] vimalk78 opened #272 "Does this plugin support translating PlusCal to TLA+?"
I am following Hillel Wayne's `Practical TLA+` book. The book uses Eclipse based official IDE, which supports `Translate
PlusCal Algorithm` options.
Does this plugin support the same? I am not able to see any such option in Command Pallete

[2022-11-13 00:40] lemmy commented on #272
https://github.com/tlaplus/vscode-tlaplus/wiki/Automatic-Module-Parsing

[2022-11-13 04:41] vimalk78 commented on #272
thanks @lemmy

[2022-11-13 04:41] #272 closed

[2022-11-24 15:35] ele7ija opened #273 "Getting `unrecognized option: -noTE` when running TLC"
Running vscode-tlaplus `v1.5.4`.

When I try to run the `TLA+: Check model with TLC`, output tab shows the following TLC logs:

[code]

I failed to find the setting to remove the -noTE option which I cannot even find listed in output of `java -XX:+UseParallelGC -cp /home/bp/.vscode-oss/extensions/alygin.vscode-tlaplus-1.5.4/tools/tla2tools.jar tlc2.TLC -help` so am blocked.

[2022-11-24 15:45] ele7ija commented on #273
Okay, solved it, weirdly it seems that `tlaplus.tlc.modelChecker.options` was edited with value `-deadlock -noTE`. Is this the default value?

[2022-11-24 16:19] ele7ija commented on #273
So the final RCA is that I cloned https://github.com/lemmy/BlockingQueue repo without noticing the custom settings in .vscode folder.

[2022-11-24 16:19] #273 closed

[2022-11-24 17:26] lemmy commented on #273
@ele7ija My [BlockingQueue repo installs](https://github.com/lemmy/BlockingQueue/blob/main/.devcontainer/devcontainer.json#L6) a [nightly build](https://marketplace.visualstudio.com/items?itemName=alygin.vscode-tlaplus-nightly) of the TLA+ VSCode extension, which bundles a newer version of TLC that supports the `-noTE` parameter.  If you encounter other problems, consider switching to nightly.